[2018-08-09 16:00] drinfernoo opened #1 "Cleanup and fix settings and menus"

[2018-08-09 16:00] drinfernoo opened #2 "Add API keys to login data"

[2018-08-10 19:09] #2 closed

[2018-08-10 19:10] #1 closed

[2018-08-10 19:23] drinfernoo opened #3 "Fix menu settings shortcuts"
Including those found in:

* debridit.py
* loginit.py
* traktit.py

[2018-08-11 20:04] drinfernoo opened #4 "Fix Neptune Rising API Keys"

[2018-08-12 21:27] drinfernoo opened #5 "Check theme switching"

[2018-08-13 16:54] #5 closed

[2018-08-29 16:18] drinfernoo commented on #3
These should be mostly fixed except for PM and some of the API key ones.

[2018-08-29 16:19] drinfernoo opened #8 "Importing save data doesn't ask about API keys"

[2018-08-29 16:21] drinfernoo opened #9 "Add Yahoo Weather! to API keys"

[2018-10-16 19:31] drinfernoo opened #14 "Change OpenSubtitles to official addon"

[2018-10-16 19:31] #4 closed

[2018-10-20 21:59] drinfernoo opened #15 "Add Exodus Redux support"

[2018-10-20 22:00] drinfernoo opened #16 "Add script.module.metadatautils folders to cleaning tools"

[2018-10-26 18:10] #3 closed

[2018-10-26 18:11] #14 closed

[2018-10-26 20:14] drinfernoo commented on #21
This needs to have a different method of emailing implemented, as Python cannot copy to clipboard on Android.

[2018-10-28 23:59] 13Clowns opened #22 "Exodus API restore"
Getting misplaced settings.
IMDB not restoring, getting ''' <td><tr>.....'''stuff in the area.

Also when you select to install from repo it installs fine but prompted 2 times for install setting/build menu

[2018-11-03 20:34] drinfernoo commented on #25
Tested on Krypton and Leia, not working on zip or repo install.

The dialog *is* working from the developer menu, but not on add-on install :(

[2018-11-25 15:51] #22 closed

[2018-12-04 18:20] #8 closed

[2018-12-04 18:35] drinfernoo commented on #33
For a proper pull request, make sure that these changes are made on a fresh branch that only has commits related to these changes (basically only `loginit.py`), and make your PR to the `feature/login` branch.

[2018-12-10 19:04] #9 closed

[2018-12-10 19:06] drinfernoo commented on #26
@redditreaper86 and @SerpentDrago, is this fixed on feature/18-zip-fix?

[2018-12-10 19:08] drinfernoo commented on #28
@TheJoe1990 can you provide any more information?

[2018-12-10 19:13] drinfernoo commented on #7
It appears that each option functions as intended, but if you choose "No Ask", files get replaced no matter what you choose.

[2018-12-10 19:21] drinfernoo commented on #7
This is in the method `manageSaveData` on line 2097 in `default.py`.

[2018-12-18 21:53] drinfernoo commented on #39
And we think the fix to this is to make the build zip exclude just the `addons/inputstream.adaptive` folder, or also the addon_data/inputstream.adaptive` folder?

What about `script.module.inputstreamhelper`?

[2018-12-21 16:01] drinfernoo commented on #40
Closed in 8dab97e180afd827faf130192fb9e62fb89f3d80

[2018-12-21 16:02] drinfernoo commented on #7
@irbyjm, any progress?

[2018-12-21 17:09] irbyjm commented on #7
@drinfernoo I might have had this fixed in an earlier commit but then dumped it because I misinterpreted what was supposed to happen.  Can you validate my thought process?

Is it supposed to:

- Ask if you want to overwrite
- If yes, completely overwrite the file (then regex replace with traktIt('restore')
- If no, only regex replace?

I am still wrapping my head around default.py's
[code]

trakti

[2018-12-21 18:17] drinfernoo commented on #41
Closed by e7f7cc2ba0fd6d78ce140056d2d367e2f2b36add

[2018-12-22 00:14] drinfernoo commented on #7
I need to dig into it more as well, as I'm not exactly sure how it's supposed to *work*, but that's my understanding as well.

[2018-12-22 01:09] drinfernoo commented on #7
This is the relevant code related to Trakt importing, from `default.py`.

https://github.com/drinfernoo/plugin.program.aftermath/blob/6001f3c5f069665c1013ca392974e2581567813c/default.py#L2124-L2139

It appears that what this does is: on line 2129, loops through all the files in the `temp/trakt` folder, and on line 2137, copies them in *regardless* of whether `overwrite` (from line 2124) `is even s

[2018-12-27 22:39] drinfernoo commented on #28
Closing for lack of information. I have been unable to reproduce this bug so far.

[2018-12-27 23:09] drinfernoo commented on #24
Will be closed in an upcoming commit.

[2018-12-27 23:09] drinfernoo commented on #37
Will be closed in an upcoming commit.

[2018-12-28 06:14] drinfernoo commented on #39
To be closed in a coming commit.

[2018-12-28 18:10] drinfernoo commented on #18
While I can probably implement this for Windows, it appears that future versions of Android and/or Kodi will be deprecating the Kodi Android Installer add-on, which will make it rather difficult.

[2019-01-14 20:39] drinfernoo opened #47 "Make text files more flexible"
Including making optional tags and fallback for malformed tags. Would love help from someone good with regexes.

[2019-01-14 23:17] drinfernoo commented on #47
Also to allow for tags in any order would be good.

[2019-01-25 06:12] drinfernoo commented on #49
This wasn't actually broken! Huzzah!

[2019-02-02 23:57] bringyoutolife opened #7 "Not able to install apk's from apk installer in latest aftermath wizard on Kodi 18 32bit"
This issue I am about to describe is in the official release of Kodi 18 32 bit with the latest  version of aftermath wizard installed. I tested on Firestick 4k, fire TV cube, and a moto g6 phone.

 An issue exists with not being able to install apks from the Apk Installer section. You are able to download them and the spmc install pop up image shows up but when you click ok it doesnt launch the in

[2019-02-03 00:56] drinfernoo commented on #51
This is a limitation of Kodi 18.0, due to a change in Android's permissions system that has disallowed apps installing other apps. I'm still looking into a fix.

[2019-02-03 22:19] drinfernoo commented on #52
Can you provide a log file when you choose the option? I didn't know it was broken.

[2019-02-05 18:19] drinfernoo commented on #54
The only issue I see with your "solution" is that it would make the wizard exit even if the shortcut is chosen from *inside* the wizard.

[2019-02-05 18:20] drinfernoo commented on #53
👍

[2019-02-05 18:22] bugatsinho commented on #51
It works though on kodi 17.6 in android 9 device!

[2019-02-05 18:22] drinfernoo commented on #51
This is probably going to mean a change to Kodi in general, and I've opened a PR [here](https://github.com/xbmc/xbmc/pull/15424) to try and get the ball rolling.

[2019-02-05 18:23] drinfernoo commented on #51
Correct. The limitation comes as a side-effect of the Kodi Android app having `targetSdkVersion="26"`, which only happened as of Leia. Before that, they weren't required (or even able) to handle permissions the way Oreo does.

[2019-02-05 18:31] drinfernoo commented on #54
Have you tried this solution? Is it working on your end?

[2019-02-05 18:36] JayDigg commented on #54
Yes, for this example I added the sys.exit(0) under def totalClean, and that made it work when I added the Total Cleanup shortcut as a favorite and ran the favorite. If the code isnt there it will loop and keep prompting to autoclean. Give it a try and see. I just am not sure where else to add it to fix the other sections.

[2019-02-05 18:38] drinfernoo commented on #54
Will you open a PR for this so I can test it more thoroughly?

[2019-02-05 18:44] JayDigg commented on #54
![screenshot_1](https://user-images.githubusercontent.com/45118866/52296377-341bc800-294c-11e9-81e7-615e3085ebe8.png)

[2019-02-05 18:45] JayDigg commented on #54
Sorry, not to versed on using Github, but its just that one line in default.py

[2019-02-05 18:47] JayDigg commented on #54
Not sure if its the best method either, and not sure how to implement it for the rest, but it does work for this example at least.

[2019-02-05 20:16] JayDigg commented on #54
`<favourites>
    <favourite name="[COLOR dodgerblue]Total Clean Up: [COLOR springgreen][B]2.00 MB[/B][/COLOR][/COLOR]" thumb="C:\Users\Modline\AppData\Roaming\Kodi\addons\plugin.program.aftermath\resources\art\maintenance.png">PlayMedia(&quot;plugin://plugin.program.aftermath/?mode=fullclean&quot;)</favourite>
    <favourite name="[COLOR dodgerblue][B][I]([COLOR white]Aftermath[/COLOR])[/I][/B][/

[2019-02-05 20:17] JayDigg commented on #54
You can see for yourself by just adding a section to favorites and try opening it from favorites.

[2019-02-05 20:22] JayDigg commented on #54
![screenshot_2](https://user-images.githubusercontent.com/45118866/52301984-d9896880-2959-11e9-9a6a-dd79d68f19c4.png)

[2019-02-06 01:34] kodiultimate commented on #54
Guys,
Sorry to jumping into this as I was looking for the solution to the above issue. Thought it maybe Super Favourites + Kodi 18 issue but this thread showing me that there is general within Kodi 18.
Just to add. Exactly same behaviour we will end up with while using Super Favourites. Here is more details:
Create Folder (any name) within Super Favourites addon + add one of the Wizard section to

[2019-02-06 04:05] FireTvGuru commented on #54
the main issue is the wiz.refresh() after most of the modes is looping and kodi stops it but after about 60 secs.

To solve: Add sys.exit(0) as shown

![2019-02-05 22_03_58-c__kodi_kodi18-rel_portable_data_addons_plugin program thechef_default py - note](https://user-images.githubusercontent.com/36491670/52319960-035e8180-2992-11e9-939f-4187fbb11ee2.jpg)

![2019-02-05 22_02_21-c__kodi_kodi18-rel_p

[2019-02-06 13:03] SerpentDrago commented on #54
Dr , i confirm i have this issue also , I thought it was just me !~ lol , and i didn't do this action enough to warrant looking into it , as i could just get out by hitting back enough !

[2019-02-06 23:49] bigpoppapaul opened #56 "Quick cosmetic fix. Noticed the speed test icon wasn't showing up in the addon even though I linked it in uservar"
default.py was missing
ICONSPEED        = uservar.ICONSPEED if not uservar.ICONSPEED == 'http://' else ICON
I added it to line 162 so it's in the same order as the icon links in uservar

820, 913, 918, 919 - changed iconmaint to iconspeed
896 - changed iconapk to iconspeed

[2019-02-07 01:34] drinfernoo commented on #56
On line 896, it probably should still be `iconapk`, as that's for the APK Installer section, rather than the Speed Test section. I'd be open to a PR if you wanted?

[2019-02-07 02:59] bigpoppapaul commented on #56
Really? For me, line 896 is: addDir ('Speed Tester' ,'speedtestM', icon=ICONAPK, themeit=THEME1)
Which creates this icon here:
![iconapk](https://user-images.githubusercontent.com/20094991/52387888-f3aa7000-2a59-11e9-8ee2-eb9adae00d00.JPG)
However, if I change it to iconspeed, I get this, it doesn't seem to affect the images in apk installer at all:
![iconspeed](https://user-images.githubuserconte

[2019-02-07 03:05] JayDigg opened #57 "[BUG] IARL/IAGL Cache Cleaning"
Clearing IAGL cache

I noticed the IAGL cache added to the wizard cleaning tools. I hope the function doesnt delete temp_IAGL and temp_list_cache folders.
If so, this will delete all downloaded games and last played history. I dont know why anybody would want that to happen. Then you would have to redownload all the games everytime you play and will delete all game history. IAGL already has an opt

[2019-02-07 03:56] drinfernoo commented on #57
You know what? You're totally right and I've been meaning to fix it. Thanks for reminding me :)

[2019-02-07 04:01] drinfernoo commented on #56
Ah, maybe you're right. I'll probably merge an applicant PR 👍

[2019-02-07 04:10] JayDigg commented on #57
Awesome, thanks!

[2019-02-07 17:17] drinfernoo commented on #57
I'll probably simply leave out the clearing of `temp_list_cache` (or maybe just the player history?), but how about making `temp_iagl` part of the video cache clearing options?

[2019-02-08 03:22] kodiultimate opened #58 "[BUG] Wizard auto-generate advancedsettings.xml? Bug of feature ?"
**Describe the bug**

First of all, thank you so much for keeping this wizard alive! great job.
OK to the point, I'm not really sure whenever this is a bug or feature?
Clean install of Kodi 18 and Aftermath wizard seems to be auto-generating advancedsettings.xml file with the value of:

  _advancedsettings
	network
		buffermode2/buffermode
		cachemembuffersize**209715200**/cachemembuffersize
		rea

[2019-02-08 03:24] drinfernoo commented on #58
Technically, it's a feature, but I'm open to suggestions on how it would better. I'm not fully satisfied with it right now either

[2019-02-08 03:27] kodiultimate commented on #58
Possible it could cause some issues on other devices unless is calculated correctly (safely for device) while auto-generated ?

[2019-02-08 18:04] bugatsinho commented on #51
lets compile a fork!

[2019-02-08 19:14] JayDigg commented on #58
Not a fan either. Writing advanced settings as soon as you start the build may be the worst time, since its using the most resources on first start to load everything up and Advanced settings is calculated  on current resources at the time.
I took a suggestion from a friend and deleted the line:
if not os.path.exists(ADVANCED): writeAdvanced()

in the startup.py

[2019-02-08 19:18] drinfernoo commented on #58
@JayDigg That's probably the right way. There's no reason to add it unprovoked.

[2019-02-08 19:23] JayDigg commented on #57
Well, no. I would suggest neither. The temp_iagl is where the roms are downloaded to by default. Clearing this would wipe your downloaded games.  And list_cache is where your played game history is stored along with the game lists. Plus clearing the list_cache is pretty pointless because it just has to redownload the list when you open the system list again. I prefer and suggest to leave it alone,

[2019-02-08 19:27] JayDigg commented on #57
Also, I believe customization to each game list as for default emulator options along with your hidden IARL lists are also stored in list_cache. Deleting that would also delete all your custom launch commands and preferences set for each list, which would be very frustrating, lol.

[2019-02-08 19:31] JayDigg commented on #58
Agreed.

[2019-02-08 19:36] JayDigg commented on #57
These context menu customizations for each list  are stored in these list_cache and would not be good to clear.
![screenshot_1](https://user-images.githubusercontent.com/45118866/52501691-efdc3200-2bae-11e9-834f-b08093334eac.png)

[2019-02-08 19:50] kodiultimate commented on #58
Thanks for the heads up.
Will do the same

[2019-02-08 20:19] JayDigg commented on #58
Yea, that makes sense.

[2019-02-08 20:30] kodiultimate commented on #58
So I think the whole idea is wrong, but that's my opinion ;)
Lets the end user run advanced settings at their own convenient time and then wizard will set up it with the proper value for the device.

[2019-02-08 21:23] drinfernoo commented on #57
I'll make some fixes soon.

[2019-02-08 22:11] drinfernoo commented on #56
Are you going to open a PR, or should I make the changes myself?

[2019-02-08 22:15] bigpoppapaul commented on #56
I'm very new to t

[2019-02-08 22:23] drinfernoo commented on #56
@bigpoppapaul What you'll want to do is fork this repository, make a new branch, make your changes, then open a pull request from that branch to my `develop` branch. [This seems like a pretty good guide](https://kbroman.org/github_tutorial/pages/fork.html) that I just found on Google 👍

[2019-02-08 22:29] bigpoppapaul commented on #56
Alright, thanks for the tips, I'll look at that guide and make my way through it. :)

[2019-02-09 16:01] drinfernoo commented on #59
Only settings related to Debrid are saved/restored. This is the same for Trakt and Login/API Keys.

[2019-02-09 16:04] JayDigg commented on #59
Ok, perfect, just wanted to make sure. Thank you!

[2019-02-11 08:49] bigpoppapaul commented on #56
Done.

[2019-02-11 21:54] #56 closed

[2019-02-12 01:18] kodiultimate commented on #55
Still can't get this work correctly, am I missing something?

Thanks

[2019-02-12 02:43] Sunseng opened #61 "[BUG] Auto install repo error"
**Describe the bug**
Auto install repo error . Url address not available. Please fix the url repo for us that use this wizard with none own build or own wizard.  Thanks.

[2019-02-12 22:05] drinfernoo commented on #55
Thanks, I've fixed it :thumbsup:

[2019-02-12 22:16] #57 closed

[2019-02-12 22:16] #58 closed

[2019-02-12 22:16] #61 closed

[2019-02-12 22:19] drinfernoo commented on #52
@TheGridRepo Can you provide anymore information?

[2019-02-12 22:26] drinfernoo commented on #54
I tested my latest @FireTvGuru's fixes against Total Cleanup, and it seems to work for me. Can you confirm @SerpentDrago or @JayDigg?

[2019-02-12 23:31] kodiultimate commented on #54
Its working fine on my side, however when I downloaded master version 0.4.6 from your git sys.exit(0) is missing??

def viewSpeedTest(img=None):
    img = os.path.join(SPEEDTESTFOLD, img)
    notify.speedTest(img)

[2019-02-13 01:29] drinfernoo commented on #54
@kodiultimate Try the develop branch.

[2019-02-13 01:39] kodiultimate commented on #54
Done it now.
There is some more areas where "sys.exit(0)" needs to be added, for example wizard.py
Most of them I have located myself and fixed but I do have issue with "uploadlog" option.
Basically when Upload Option is added to favourites, and then used from there, it's looping the upload window and keeps re-sending log file to the pastebin. So we end up with 6 or 7 log files on the pastebin ser

[2019-02-13 03:08] drinfernoo commented on #54
@kodiultimate If you'd get me a list of places that are still doing it for you, I'd love to fix them 👍

[2019-02-13 04:36] drinfernoo commented on #45
This definitely won't be added until I can close #51, since it prevents `.apk` from being installed in the first place.

[2019-02-13 04:37] drinfernoo commented on #18
This definitely won't be done until I can close #51, as it prevents `.apk` files from being installed in the first place.

[2019-02-13 11:58] kodiultimate commented on #54
Ideally will need a help just with uploadLog.py as it seems to be tricky :)

I will try to contribute with other stuff and if you are happy you can merge ;) thanks

[2019-02-13 16:25] drinfernoo commented on #54
@kodiultimate What happens when you have Uploaded Log in a Kodi favorite? Can you send a small video, maybe?

[2019-02-13 16:53] kodiultimate commented on #54
Here it is. Sorry I had to use Mega

https://mega.nz/#!eIYGVS7L!bqyoVIrAZ_V2p2oTRewZ6cWiFABzeoXSBltAloQeRcA

[2019-02-13 20:38] drinfernoo commented on #63
I would like to make some enhancements to the current system for `advancedsettings.xml`, so I'll look into it.

[2019-02-13 21:53] kodiultimate commented on #63
Not sure why the line I have putted in disappeared?

< imageres > 9999 < /imageres >

[2019-02-13 23:20] drinfernoo commented on #63
If you used the feature from the wizard, it unfortunately overwrites any user made changes. That's one of the things I'd like to fix. In the meantime, you should be able to add it in manually afterwards.

[2019-02-14 02:07] kodiultimate commented on #63
No worries, no rush anyway ;)

[2019-02-14 16:42] kodiultimate commented on #64
I'm sure it is already there.

Convert to special....

[2019-02-18 07:14] SerpentDrago commented on #64
this already exists in maintenance section  > Convert to special

[2019-02-22 06:20] Jeffers24 commented on #64
I understand the special path feature, I normally manually edit my paths to make them special.
If I choose Convert to special feature in the wizard how/what does it convert?
I have always been wary of using Covert to special, in case it changed paths that I didn't want to change, or didn't change all the paths I wanted changing.

[2019-02-25 17:03] drinfernoo commented on #64
The `convertSpecial(...)` method, declared here:

https://github.com/drinfernoo/plugin.program.aftermath/blob/ad975550d58fcdb4d859f90a8d2f0e0bbbc26dff/resources/libs/wizard.py#L934-L956

Loops through all the files in `url`, which the wizard passes to the method as *xbmc.translatePath('special://home/')`, so all files in `special://home/`, essentially. Then, if that file is either a `.hash.`, `.pr

[2019-02-25 17:04] drinfernoo commented on #52
I'm closing this issue unless more information is supplied. I cannot replicate the issue... because I don't know what it is.

[2019-02-25 17:17] drinfernoo commented on #54
@kodiultimate I believe I've fixed uploadLog, but if you have any more areas you want me to look at, feel free.

[2019-02-25 23:16] drinfernoo commented on #53
I believe this just needs to have the plugin calls with `mode=reset_cache`, from a quick look.

[2019-02-26 06:32] kodiultimate commented on #54
Thanks @drinfernoo  appreciate it! One more:

Could you have a look at Force Update (addons) function please? I have tried within wizard.py
  " def forceUpdate(silent=False): "  but I had no luck adding  sys.exit(0) at the end.

Thanks

[2019-02-26 11:32] kodiultimate commented on #66
Ok, so I did had a look in wizard.py and finding line
def oldThumbs():
	dbfile = os.path.join(DATABASE, latestDB('Textures'))
	use    = 30
	week   = TODAY - timedelta(days=7)

Assuming thumbnails 7 days old will get deleted?

[2019-03-01 19:30] drinfernoo commented on #67
I'll look into adding it as an option.

[2019-03-01 19:31] drinfernoo commented on #64
Gonna go ahead and close this one until I see any reason to reopen it.

[2019-03-01 19:47] drinfernoo commented on #66
That's essentially correct...

https://github.com/drinfernoo/plugin.program.aftermath/blob/ad975550d58fcdb4d859f90a8d2f0e0bbbc26dff/resources/libs/wizard.py#L2755

This is a SQL statement that basically says: "give me a list of all the textures that haven't been accessed more than `use` times, and that haven't been accessed in the last `week` days".

So "old" thumbnails are defined as "week old th

[2019-03-01 20:02] drinfernoo commented on #51
Until this is fixed on Kodi's end, 04cb0639be0889fc042675212f7ffeb90a8463c6 will disable the APK Installer section on Kodi versions greater than 18. I'm labeling this as wontfix until then.

[2019-03-01 20:03] drinfernoo commented on #45
Until this is fixed on Kodi's end, 04cb0639be0889fc042675212f7ffeb90a8463c6 will disable the APK Installer section on Kodi versions greater than 18. I'm labeling this as wontfix until then.

[2019-03-01 20:03] drinfernoo commented on #18
Until this is fixed on Kodi's end, 04cb0639be0889fc042675212f7ffeb90a8463c6 will disable the APK Installer section on Kodi versions greater than 18. I'm labeling this as wontfix until then.

[2019-03-01 20:11] drinfernoo commented on #68
@reddit-reaper Care to have a whack at this one?

[2019-03-01 20:12] drinfernoo commented on #65
I haven't gotten to look into this, but I will soon.

[2019-03-02 15:26] kiotronic commented on #51
Oh this is not good news... Not chance enable APK installing from Kodi 18 ?

[2019-03-02 15:36] kiotronic commented on #18
Can I chance the APK section from this script, that not find Kodi releases, just find my APKs from my website ?

[2019-03-06 16:46] cartersball opened #17 "[Add-on Request] Yoda, Realizer/Premiumizer"
Add support for saving data from Yoda and Realizer/Premiumizer add-ons

[2019-03-06 18:25] drinfernoo commented on #17
I've added Yoda with full functionality, but still need to add cache clearing for Premiumizer and Realizer, as well as figure out how to save `rdauth.json` in order to save RD for Realizer.

[2019-03-07 06:03] icpryde commented on #17
also add Scrubs from the JewRepo

[2019-03-07 06:20] drinfernoo commented on #17
@icpryde Open your own issue, ya freeloader! I'll get to it soon 👍

[2019-03-07 18:09] icpryde commented on #17
@drinfernoo get scrubbing them scrubs you scrub 🥇

[2019-03-07 23:15] kodiultimate opened #18 "[Add-on Request] Jor-El addon support"
Hi,
Wondering if this could be added to wizard?

**What accounts does this add-on support?**
Trakt, Torrents (real debrid private API token), TMDb, IMDb, Oriondroid (API key)

**Where is this add-on available?**
Author : KoDIY repo : house of El

[2019-03-08 00:00] kodiultimate commented on #17
@drinfernoo

Ok, so Yoda has been added but for the hell of me I can't get it visible within my Kodi configuration. Of course addon is installed.

I though that there is something to do that the addon itself is named plugin.video.Yoda - starting yoda with capitol Y,  so I have changed it within wizard but still this addon is simply invisible lol

[2019-03-08 01:19] drinfernoo commented on #17
@kodiultimate This isn't true anymore. Update Yoda.

[2019-03-08 03:25] bigpoppapaul opened #19 "Save Login Info Dialogue results in error."
When you go to Save Data>Keep Login Info, you get the following error.

`ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
                                            Error Type: <type 'exceptions.KeyError'>

[2019-03-08 08:58] kodiultimate commented on #19
I had same issue. Simply delete everything with word wonderfulsubs and it's working OK now

[2019-03-08 16:30] WhizKidBuilds opened #20 "[Bug] icon and fanart for themes not visible"
**Describe the bug**
A clear and concise description of what the bug is.
Fanart and icon for themes menu are not displaced
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2019-03-08 16:36] drinfernoo commented on #20
Could you edit in any of the other details? You've given me basically no information to go on here.

[2019-03-08 17:57] #19 closed, assigned to nobody

[2019-03-08 18:00] drinfernoo commented on #19
Fixed, and with WonderfulSubs data saving working 👍

[2019-03-12 10:44] kodiultimate commented on #20
No issues on my end

[2019-03-12 13:09] WhizKidBuilds commented on #20
I apologize... I am not familiar with how to properly use "GitHub issues
report"
The issue for me was that The icon and Fanart for the Theme under the build
menu was not showing up.  I know MBman also said the same in the telegram.
I know that I linked everything like theme and all that properly. Forgive
my ignorance when it come to how to explain this issue

On Tue., Mar. 12, 2019, 6:44 a.m. kodi

[2019-03-12 19:02] drinfernoo commented on #20
@WhizKidBuilds The issue template provided in this repository explains what information I need to properly diagnose the issue.

[2019-03-14 21:25] drinfernoo commented on #18
Unless you have a current source for Jor-El, it appears to me as if it's been abandoned, and the repo taken down.

[2019-03-14 21:25] #18 closed, assigned to nobody

[2019-03-18 18:34] kodiultimate commented on #18
Hi,
I'm sure it's still in this repo  http://kodihelp.net/repo/repository.houseofel.zip

[2019-03-19 04:56] drinfernoo commented on #18
@kodiultimate Is there an **official**  source for this?

[2019-03-19 18:42] kodiultimate commented on #18
Yes sir, that's official source.

[2019-03-22 11:42] kodiultimate commented on #18
@drinfernoo any thoughts on this?

[2019-03-22 15:09] drinfernoo commented on #18
I will look into it.

[2019-03-24 08:14] drinfernoo opened #21 "[Feature Request] Enable/Disable Add-on Auto-Updates"

[2019-03-30 17:07] DaedalusBLN opened #23 "[addonUpdates] On Fresh Install Cancel and Re-initiate in DialogProgress, "default.addonupdate" is set to 2."
Greetings, whenever you have time, could you please check whether the bug I am experiencing also happens to you?

When a build installation/download (only tried Fresh Install) is cancelled from the DialogProgress window eg. by accident, and then restarted until completion addon auto-updates are set to off (2).

Does this happen to you as well? As my wizard was based on 0.2.4 Aftermath, to which I

[2019-03-30 17:08] drinfernoo commented on #23
Are you talking about the global Kodi auto-updates setting? Because this shouldn't be touching that, as far as I'm aware.

[2019-03-30 17:11] DaedalusBLN commented on #23
Precisely, I'm talking about the Kodi setting **general.addonupdates**  and the wizard setting **default.addonupdate**.

To Enable/Disable add-on auto-updates via JSONRPC. 0 is automatic, 1 is only notify, 2 is off.

(wizard.py, line 259 and onwards.)

[2019-03-30 17:37] drinfernoo commented on #23
Ah, ok. My recommendation would be... don't cancel a build download for the time being. I'll look at this eventually, but it's not a priority.

[2019-03-30 17:40] DaedalusBLN commented on #23
Thank you. 🙏

[2019-04-01 04:09] sp4rky82 opened #24 "Issue with Build Text file"
Hello,
Great work by the way, it's greatly appreciated. I stumbled across this update, when i was looking why when Users was installing Kodi 18 Builds, they was getting File not a zip file. Hopefully, now we are adding this Wizard, this will resolve that.

We have set it all up, but when i click 'Builds Menu' it shows the Builds in the text file. Leia (2) Krypton(3)

But when i select a Build, it

[2019-04-01 04:35] drinfernoo commented on #24
https://www.github.com/drinfernoo/plugin.program.aftermath/wiki/ has examples of all of the usable text files.

Bear in mind that the files have to have *all* of the tags, and in *the same order*.

[2019-04-01 04:35] #24 closed, assigned to nobody

[2019-04-04 04:54] sp4rky82 opened #25 "Issue with Kodi 18 on Mobile/Touchscreen devices"
Hi Dr,

Sorry to bother you, I just wanted to ask about something which has had us baffled for days now. We have recently upgraded to this version of the Wizard, (Which  has been great) And just created a new 18 Apk, We are just having one issue, which we can't seem to sort out. Whenever anyone installs the Wizard and Build onto Kodi 18, Mobile phones the Build turns into a swipe screen, and the m

[2019-04-04 06:54] drinfernoo commented on #25
You're experiencing this on an unofficial Kodi 18-based fork?

[2019-04-04 15:57] drinfernoo commented on #22
Thanks for this! My bad for not catching that when I added it.

[2019-04-22 19:42] drinfernoo commented on #9
Check line 1265 in `wizard.py`, there seems to be an issue here.

[2019-04-23 15:14] drinfernoo commented on #25
Closed for inactivity.

[2019-04-23 15:14] #25 closed, assigned to nobody

[2019-04-23 15:15] drinfernoo commented on #20
@WhizKidBuilds is this bug still present?

[2019-04-23 15:17] drinfernoo commented on #17
The only thing left to do here is add Realizer debrid saving, which will be a bit different from the rest. I'll open that as a separate issue.

[2019-04-23 15:17] #17 closed, assigned to nobody

[2019-04-23 15:18] drinfernoo opened #26 "[Add-on Request] Realizer Debrid Saving"
**What accounts does this add-on support?**
Realizer is already supported for most of its features, but not for RD saving.

**Where is this add-on available?**
Aenemapy Repo

[2019-04-23 17:49] drinfernoo opened #27 "[Bug] Hide/Unhide Passwords for Keyboard Entry no longer work"
**Describe the bug**
Hide/Unhide Passwords for Keyboard Entry no longer work

**To Reproduce**
Steps to reproduce the behavior:
Use either Hide or Unhide Passwords on Keyboard Entry, and you either get failed entries, or errors.

**Expected behavior**
This should enable/disable the asterisk pattern that appears in hidden fields in add-on settings.

**Additional context**
This feature will be disab

[2019-04-23 17:54] drinfernoo commented on #4
@Payasiando Is this bug still present? I can no longer see your logs.

[2019-04-23 21:55] sp4rky82 commented on #25
Hi Drinferno,

I'm having this issue with official Kodi 18 Version and my own APK too.
Fine on Kodi 17.6 The issues ive mentioned are just with Kodi 18 for
some reason. My apologies for the late response.

On Thu, 4 Apr 2019 07:54 drinfernoo, <notifications@github.com> wrote:

[2019-04-24 00:33] drinfernoo commented on #25
I'll see if I can replicate this, but I've never had the issue myself. Any specific devices having this behavior?

[2019-04-24 03:25] SOOTTV commented on #25
It may be a skin issue, I have this issue with tian mod and Titan bingie

[2019-04-24 04:32] drinfernoo commented on #25
@sp4rky82, what skin(s?) are you experiencing this with?

[2019-04-24 14:43] sp4rky82 commented on #25
Hi,

Its doing it on any Mobile Phone devices, and Tablets what i know about so
far. I think its more an isdue with Kodi 18. As its perfect on Kodi 17.6.

Cheers for the reply.

On Wed, 24 Apr 2019 01:33 drinfernoo, <notifications@github.com> wrote:

[2019-04-24 14:49] SOOTTV commented on #25
I really don't think this is related to the wizard. If I manually move a build to a mobile device, the same thing happens. Running official Kodi 18 vs. a forked Kodi 18 yields the same results, I agree that it's probably a Kodi 18 issue. I also noticed that Samsung devices seem to be less affected than devices running a stock, or close to stock, android (Pixels, OnePlus, Huawei)

[2019-04-25 18:47] drinfernoo commented on #3
I believe this should be implemented as of b60504175355a3eb786af2366b824f8baeac1b2d, so I'm going to close this for now. If you'd like to test and let me know, that'd be great.

[2019-04-26 20:30] drinfernoo commented on #4
Confirmed to no longer be an issue by @Payasiando 👍

[2019-04-29 00:39] lasagnaforbrains opened #28 "[Bug] Auto-Update dialog loses focus when widgets refresh on home screen"
**Describe the bug**
When an update to a build is pushed, the auto-update dialog (with the Fresh Install/Normal Install/Delay Update options) can lose focus when widgets on the home screen refresh which prevents you from selecting any options unless a mouse is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Update a build
2. Launch Kodi with previous version still installed and widgets

[2019-05-21 13:34] simonchunk commented on #7
Does this workaround help our cause?

https://forum.kodi.tv/showthread.php?tid=339210

[2019-06-08 16:40] drinfernoo commented on #23
I'm going to close this as I've already marked #21 as part of the 0.7.0 milestone, which I'll be tackling somewhat soon. Thanks for opening this in the first place, but I'll likely be completely reworking *how* the wizard controls this setting in the future 👍

[2019-06-08 16:40] #23 closed, assigned to nobody

[2019-06-08 16:41] drinfernoo commented on #20
Closed for inactivity. I'll look further into this before milestone 0.7.0, as that's when I'll be looking into various text file changes.

[2019-06-08 16:41] #20 closed, assigned to nobody

[2019-06-08 16:43] drinfernoo commented on #28
What skin have you experienced this on? I haven't had this on either Aura or Arctic Zephyr 2, let alone Estuary (obviously, since it has no "widgets").

[2019-06-08 16:46] drinfernoo opened #29 "[Feature Request] Restructure Maintenance Menus"
**Is your feature request related to a problem? Please describe.**
The current maintenance menu flow includes "folding" menus, that open up, and make it quite difficult to assign skin shortcuts, as mentioned in #11. It can also make backing out of the menus a bit frustrating.

**Describe the solution you'd like**
Each section of the menu should open its own menu section, in a "cascading", rather t

[2019-06-08 16:54] drinfernoo opened #30 "[Feature Request] More Comprehensive advancedsettings.xml Configurator"
**Is your feature request related to a problem? Please describe.**
The current `advancedsettings.xml` configurator doesn't allow much customization besides simple "presets". The wizard also sometimes skips backing up, overwrites, or clears the file completely.

**Describe the solution you'd like**
Ideally, be able to modify many of the settings defined on [the Kodi wiki](https://kodi.wiki/view/Adv

[2019-06-08 16:59] drinfernoo opened #31 "[Feature Request] In-Addon Documentation"
**Is your feature request related to a problem? Please describe.**
The code inside the wizard, as well as the wiki documentation in this repository, is woefully lacking, and should be more understandable for as many users as possible.

**Describe the solution you'd like**
Any user-facing code inside the wizard should be documented using the official Pydoc system. Also, most of this repository's wi

[2019-06-08 17:04] drinfernoo opened #32 "[Feature Request] Modular Add-on Support"
**Is your feature request related to a problem? Please describe.**
Currently, the wizard defines chunks of its add-on support in multiple different places. Definitions for data saving are defined in `debridit.py`, `loginit.py`, and `traktit.py`, respectively... but cache files and the like are defined in multiple locations across a handful of scripts.

**Describe the solution you'd like**
Ideally,

[2019-06-08 17:07] drinfernoo commented on #16
This will hopefully become simpler if modular add-on support is implemented, as mentioned in #32.

[2019-06-08 17:16] drinfernoo opened #33 "[Feature Request] Proper Handling of Zip Files"
**Is your feature request related to a problem? Please describe.**
Currently, the wizard has to use two different versions of Python's standard `zipfile.py` library, with modifications by @FireTVGuru in `zfile.py`.

**Describe the solution you'd like**
Ideally, these changes could be made more concise by writing a simple wrapper file, rather than a complete rewrite of the original script. This wil

[2019-06-08 17:17] drinfernoo commented on #31
Anyone interested in helping update the documentation on the wiki is welcome to contribute, aslong as it's quality material.

[2019-06-08 17:23] drinfernoo opened #34 "[Feature Request] More Flexible Text Files"
**Is your feature request related to a problem? Please describe.**
Currently, user-facing text files, designed for wizard customization, require *every* tag to be defined (even if it's not used), and in a *very* specific order. Also, certain sections of the wizard appear to also ignore these tags (as in #20).

**Describe the solution you'd like**
Ideally, these could be defined as a more structure

[2019-06-08 17:25] drinfernoo commented on #5
Closing, as this can potentially be an included setting once #30 is implemented.

[2019-06-08 17:27] drinfernoo opened #35 "[Feature Request] Language and String Resource Support"
**Is your feature request related to a problem? Please describe.**
The wizard currently doesn't have *any* strings that are localized, and treats strings that are displayed in the add-on very messily.

**Describe the solution you'd like**
All strings used by the add-on should be localized, and any strings (notifications, log statements, menu labels, etc...) should be consistent regarding styling,

[2019-06-08 17:28] drinfernoo commented on #8
Closing, as a more concise version of this issue has been opened as #35.

[2019-06-21 18:50] sp4rky82 opened #36 "All Addon Auto Updates Disabled"
Hi Dr Infernoo,

I have recently updated our Wizard, But whenever a Build is installed or Updated, all of the Auto Updates on the Addons are disabled. I'm not sure why this is happening.

Regards

[2019-06-21 18:54] drinfernoo commented on #36
Can you provide a copy of `wizard.log` from whenever a build is installed? That *is* a feature of the wizard, but not something that should be being triggered on a build install.

[2019-07-15 03:49] Ebonlore opened #37 "[Bug]"
When the updater updates itself it throws this error after updating and fails to continue with build updates.  Does this with unmodified master source code too.

2019-07-14 20:46:11.907 T:22916   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!

[2019-07-16 04:58] Ebonlore commented on #26
Simple hack to fix in default.py also fixes default skin issues:

        if KEEPSUPER == 'false':
            EXCLUDES.append('plugin.video.realizer')
            EXCLUDES.append('skin.xonfluence')

[2019-07-16 15:14] drinfernoo commented on #26
@Ebonlore What types of "default skin issues" are you having? Do they happen when you're using the default skin? Xonfluence is *not* a default skin.

[2019-08-24 00:49] drinfernoo commented on #16
Closed for inactivity. Much of this code is outdated and needs to be fixed up anyways.

[2019-08-24 00:53] drinfernoo commented on #7
@simonchunk Unfortunately, I've been unable to get the code from that thread to work. There's an [open pull request](https://github.com/xbmc/xbmc/pull/15577) that purports to solve this, but I can't get it working either. Feel free to encourage the Kodi team to merge that PR, but until then, I'm closing this issue as wontfix.

[2019-08-24 00:55] drinfernoo commented on #21
[code]

[2019-08-24 00:56] drinfernoo commented on #28
Closing due to lack of a response from OP.

[2019-08-24 00:56] #28 closed, assigned to nobody

[2019-08-24 00:58] drinfernoo commented on #33
I've made a much less modified version of the `zipfile.py` module from Python. 3.7, which maintains compatibility between Python 2.7 and 3.7, and appears to be working on all platforms.

[2019-08-24 00:58] #33 closed, assigned to drinfernoo

[2019-08-24 00:59] drinfernoo commented on #36
Closing this due to lack of response from OP.

[2019-08-24 00:59] #36 closed, assigned to nobody

[2019-08-24 00:59] #37 closed, assigned to nobody

[2019-09-12 15:23] drinfernoo opened #38 "[Meta] Use Speed Tester from Kodi Repository"

[2019-09-12 17:01] JamesJB77 commented on #38
Get busy Doc

[2019-09-17 00:53] kodiultimate commented on #38
Hi @drinfernoo

Any particular reason why would like to swap current speed test to offcial kodi repo one?
I'm happy with the current one :P

[2019-09-17 01:00] drinfernoo commented on #38
@kodiultimate Simply to reduce code complexity. By using an external module, I wouldn't have to maintain or even *have* the speed tester code anymore. I haven't fully decided yet if I'm going to go this route, but it's a possibility.

[2019-09-18 07:51] kodiultimate commented on #38
Fair point sir !

[2019-09-25 03:41] SerpentDrago opened #39 "[Bug] Feature/Rewrite branch :"
**Describe the bug**
Errors when saving trakt data or accessioning save data > keep trakt data"  menu after

**To Reproduce**
Steps to reproduce the behavior:

go to save data > Keep trakt data , Save all .

**Screenshots**
![image](https://user-images.githubusercontent.com/21133858/65567567-bcbf9680-df24-11e9-89d5-5c7ff15c30d6.png)

**Platform**
Kodi 18.4 / Latest Feature Rewrite branch version /

[2019-09-25 03:42] drinfernoo commented on #39
Ah, jeez, that's silly. Just a typo, I'll get it tomorrow 😉

[2019-09-29 10:23] Tribalize opened #40 "[Bug] Small change of icon in default.py"
Original
``def net_tools(view=None):
    addDir ('Speed Tester' ,'speedtestM', icon=ICONAPK, themeit=THEME1)``

Edit to
``def net_tools(view=None):
    addDir ('Speed Tester' ,'speedtestM', icon=ICONSPEED, themeit=THEME1)``

[2019-09-29 10:53] Tribalize commented on #40
Line that needs added to default.py for the icon change to work
``ICONSPEED      = uservar.ICONSPEED if not uservar.ICONSPEED == 'http://' else ICON``

[2019-10-04 18:07] SOOTTV opened #41 "Editing the notfication section in uservar.py throws an error and makes wizard unusable[Bug]"
**Describe the bug**
In uservar.py edit the notify section. Add a URL and change HEADER MESSAGE and then try to use the wizard

**To Reproduce**
Steps to reproduce the behavior:
1. In uservar.py edit the notify section.
2. Add a URL into 'NOTFICATION = '
3. Edit 'HEADERMESSAGE = '
4. Open wizard
5. Dismiss notification
6. Back out and reopen wizard
7. See error

**Expected behavior**
No error

**S

[2019-11-09 22:52] kodiultimate opened #44 "[Feature Request] Auto clean new frequency"
Hi @drinfernoo

Would be able to add new auto clean frequency ? we have weekly as a maximum option at the moment, would be able to add once a month?
Thanks

[2019-11-10 07:12] drinfernoo commented on #44
I am going to be adding monthly, just ran out of time today 👌

[2019-11-11 20:48] kodiultimate commented on #44
Thank you sir! appreciate.

[2019-11-12 01:11] #44 closed, assigned to nobody

[2019-11-12 01:13] drinfernoo commented on #41
Is this on the master or rewrite branch?

[2019-11-12 01:17] #39 closed, assigned to nobody

[2019-11-12 02:08] #21 closed, assigned to drinfernoo

[2019-11-12 02:08] #40 closed, assigned to nobody

[2019-11-12 14:35] DB-42 opened #45 "Today 11-12-19 saw there was an update to 0.5.5 but update threw an error. Now it doesn't work[Add-on Request]"
*

[2019-11-12 14:39] drinfernoo commented on #45
I've seen the report, will fix this afternoon.

[2019-11-12 14:44] DB-42 commented on #45
Thank you for the quick response

[2019-11-12 17:29] drinfernoo commented on #45
Fixed in 9db5ce8124528f935b6df2e229d83aa4fb5de364.

[2019-11-12 17:29] #45 closed, assigned to nobody

[2019-11-16 11:39] DB-42 opened #46 "New repo won't install [Bug]"
Yesterday saw there was an update for the repo. Tried to update but update failed, so I uninstalled the repo then tried to download from zip. Had a pop-up saying Kodi could not install from zip.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to hap

[2019-11-16 12:15] Tribalize commented on #41
tested today on rewrite branch
![amtermath error](https://user-images.githubusercontent.com/6483215/68992999-daccb780-0840-11ea-9cfc-29359bb00395.png)

[2019-11-16 21:13] drinfernoo commented on #41
@Tribalize Have you set a URL to notifications.txt in uservar.py? Also, as of today, all current code is on the master branch.

[2019-11-17 13:42] Tribalize commented on #41
tested this morning with master branch.
In uservar.py i had used https://host/notify.txt and received error on image 1
![amtermath error](https://user-images.githubusercontent.com/6483215/69008209-04a3de00-0916-11ea-8550-c23eaeadbd06.png)

Next i tried https://host/ notifications.txt and received next error. but wizard was usable
![aftermath error 2](https://user-images.githubusercontent.com/64832

[2019-11-17 14:08] drinfernoo commented on #41
I'm unable to reproduce this with a properly formed notify.txt , so I suspect that's your issue.

[2019-11-18 03:25] #46 closed, assigned to nobody

[2019-11-21 13:55] drinfernoo commented on #41
This should be fixed as of 3279e6d1810af083ebc810751e33ab0e0b8818f9.

[2019-11-21 13:55] #41 closed, assigned to nobody

[2019-11-21 21:03] drinfernoo commented on #47
Merged, plus some :+1:

[2019-11-22 00:09] drinfernoo opened #48 "[Bug] Build info.txt showing full path to skin"

[2019-11-24 00:05] drinfernoo commented on #30
This has been started as of 1.1.0.

[2019-11-24 00:05] drinfernoo commented on #34
The move to JSON files has been started with `advanced.json`, as of 1.1.0.

[2019-12-01 09:25] tstrul1 opened #49 "[Bug] Getting permission denied error while trying to remove addon data for uninstalled addons/backing up data"
**Describe the bug**
Hi,
Im Getting permission denied error while trying to remove addon data for uninstalled addons.
Im getting the same error even if im trying to open kodi as an administrator

Used to work great without any special permissions when im using this addon: https://forum.kodi.tv/showthread.php?tid=264018

**To Reproduce**
Steps to reproduce the behavior:
1. go to maintenance
2. Clic

[2019-12-01 09:34] tstrul1 opened #50 "[Feature Request] Add check for unused repositories & check for addons without repo"
**Is your feature request related to a problem? Please describe.**
Very good option to keep your kodi nice and clean.

**Describe the solution you'd like**
An option to list & remove unused repositories
an option to list addons without any repo

**Describe alternatives you've considered**
There is an option for that in Kcleaner addon but I would really like to consolidate to one good maint tool

[2019-12-05 08:29] tstrul1 commented on #50
Well, I removed meta's old dir an it works flne. I guess I had troubles with permissions on this dir.
closing this issue

[2019-12-05 08:29] #50 closed, assigned to nobody

[2019-12-08 20:18] drinfernoo opened #51 "[Request] Allow for Build Sections"

[2019-12-08 20:20] drinfernoo opened #52 "[Bug] Binary Add-on Restore Failing"
Seems to still not be fully functioning. A possible solution is to modify Addons27.db *before* adding it to the backup.

[2019-12-09 05:07] icpryde opened #53 "[Bug] Fresh Install from Notification window on start up not working"
**Describe the bug**
When a build update is available you get the notification window on start up, it requests you click fresh install but literally nothing happens when you click it. Going into OpenWizard and clicking on builds then clicking the build you want to install via fresh install works as intended just not from the notification window.

**To Reproduce**

Have a build updated, restart kod

[2019-12-09 05:08] icpryde commented on #53
Log: https://paste.ubuntu.com/p/ksdcB9xTPQ/
Wizard log: https://paste.ubuntu.com/p/Y6xcSjrd8X/

[2019-12-09 05:14] icpryde opened #54 "[Feature Request] remove Normal Install from Builds"
Relatively simple feature request, we’ve discussed this before but thought I’d put it here as a reminder.

Simply remove “normal install” from the notification window and from the builds section.

This makes it easier for people to not click the wrong one but also it doesn’t serve much of a purpose and 99% of the time you should use Fresh Install.

[2019-12-09 05:16] drinfernoo commented on #54
So would you propose that every install be a forced fresh install?

[2019-12-09 06:32] icpryde commented on #54
That’s honestly what I do for every install no matter how big or small as normal install has the potential to mess things up where fresh install never will.

[2019-12-13 10:55] tstrul1 commented on #49
Well, I removed meta's old dir an it works flne. I guess I had troubles with permissions on this dir.
closing this issue

[2019-12-13 10:57] tstrul1 opened #55 "[Feature Request] Add check for unused repositories & check for addons without repo"
**Is your feature request related to a problem? Please describe.**
 Very good option to keep your kodi nice and clean.
**Describe the solution you'd like **
An option to list & remove unused repositories an option to list addons without any repo
**Describe alternatives you've considered**
 There is an option for that in Kcleaner addon but I would really like to consolidate to one good maint tool

[2019-12-14 11:36] tstrul1 commented on #49
Actually encourted that again during build backup... I'm getting permissions denied on all sorts of files while other addons manage to handle them. re-opening this bug.

[2019-12-14 21:04] drinfernoo commented on #15
Considering this: https://github.com/xbmc/repo-scripts/pull/1236

I think this may be a possibility in the near future.

[2019-12-14 21:05] drinfernoo commented on #7
Considering this: xbmc/repo-scripts#1236

I think this may be a possibility in the near future.

[2019-12-14 21:10] drinfernoo commented on #49
Your original log has expired. I'll need a new one to try and replicate this issue, but from what I had seen before it expired, it seemed to me that you have Kodi installed in a directory with more advanced file permissions than your user profile has.

[2019-12-15 19:19] tstrul1 commented on #49
Latest log: http://paste.ubuntu.com/p/fR8BXW8qVG/

This is wired, Other addons manage to handle these files (or they just skip them without failing?).

I didn't mess with windows default permissions on my userdata dir. In addition, I tried running kodi as an administrator and I still get permission denied.

[2019-12-15 20:56] drinfernoo commented on #49
So the error is happening during the `special://` paths check, and it's trying to modify a file called `._addon.xml`, that's put there by Super Favorites. I'll have to look into a possible better way to do this or to exclude SF from that check.

[2019-12-20 20:43] aexarch opened #59 "[Bug] Build update via update prompt not working. No error."
**Describe the bug**
Updating via the build update prompt not working, at least not for Fresh Install, didn't try Normal. Using v1.2.7 as base, going to update today and see if the problem persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Update version number of build in builds.txt (ZIP direct link works fine when updating via the build menu within OpenWizard, I have not changed any

[2019-12-20 21:03] drinfernoo commented on #59
Try again with latest master branch. 1.2.8 was merged three days ago to fix this.

[2019-12-20 21:03] #59 closed, assigned to nobody

[2019-12-20 23:28] SerpentDrago commented on #52
Should be fixed now

[2019-12-21 01:38] #52 closed, assigned to drinfernoo

[2019-12-26 16:29] Magic-Dust opened #60 "Custom Keymap"
Allow for backup of keymap folder in build.

Have tried manually addding to build and gui zips.

[2020-01-03 18:31] SerpentDrago opened #62 "[Bug] Wizard restores data on boot , causing major issues"
The wizard by default shouldn't restore data on EVERY boot , it should only restore data after build install/restore.

The reason for this being a major problem , is the average user is not going to know that they can't simply change say .. priority in Resolver , and know to then go into wizard and save that new data . if they dont' when they restart kodi their old priority will be restored . Very

[2020-01-04 12:51] peno64 opened #63 "A nice extra to your addon would be a test if real debrid blocks the current IP address"
I have written a small addon that goes to page https://real-debrid.com/vpn and scrapes the info on that page and presents it in kodi.
This page checks if the current ip is blocked by real debrid or not. This happens often with vpn's

You can find my addon here: https://github.com/peno64/script.RealDebrid.vpn

I think it would be a nice extra to your addon to have this also.

[2020-01-04 13:19] drinfernoo commented on #63
While I do think an add-on like has value, I don't really think it fits within the scope of OpenWizard. Sorry!

[2020-01-04 13:19] #63 closed, assigned to nobody

[2020-01-04 14:48] peno64 commented on #63
Ok no problem for me but a bit strange since yoy have tools like speedtester and clear cache and change advanced settings so what is the scope?
________________________________
From: drinfernoo <notifications@github.com>
Sent: Saturday, January 4, 2020 2:19:26 PM
To: drinfernoo/plugin.program.openwizard <plugin.program.openwizard@noreply.github.com>
Cc: peno64 <mail@peno.be>; Author <author@norepl

[2020-01-04 16:00] drinfernoo commented on #63
OpenWizard is for maintaining and managing your Kodi install and related files. It doesn't contact out to any external APIs, and doesn't have authentication with any either. The wizard would have to be authorized with Real-Debrid itself, in order to even do this.

Like I said, an add-on that does test this, and other external APIs, would be a welcome newcomer to the scene, but I don't think it fit

[2020-01-04 17:29] peno64 commented on #63
Ok no problem. But note that no autorization to real debrid is needed. Anyone can go to that page to see if his ip adres is blocked or not.
________________________________
From: drinfernoo <notifications@github.com>
Sent: Saturday, January 4, 2020 5:00:51 PM
To: drinfernoo/plugin.program.openwizard <plugin.program.openwizard@noreply.github.com>
Cc: peno64 <mail@peno.be>; Author <author@noreply.gi

[2020-01-04 19:54] drinfernoo commented on #62
@Demonseeed That should've been fixed many versions ago. Are you up-to-date?

[2020-01-04 21:34] drinfernoo commented on #62
@Demonseeed Sure, with a debug log if you don't mind 👍

[2020-01-11 22:04] #62 closed, assigned to nobody

[2020-01-12 00:34] tomtomclub commented on #53
in the config uservar.py  see notification  yes out in No

[2020-01-13 15:29] Tinuz97 opened #64 "[Addon Support] FEN"
FEN Cleaning in the cleaning options.
Just a reminder lol (asked in the Telegram group a while ago, you answered to set a reminder if forgotten) :)

Thx.

[2020-01-13 16:11] drinfernoo commented on #64
Will do! I need to add it for it's other integrations too 😉

[2020-01-13 16:49] theKosmikOne opened #65 "Selecting Addons for Backup [Feature Request]"
Please, allow a 'select all' for Addons Backup. Selecting every one of my 297 addons makes my little keyboard cry.

Thank You for stepping up and filling a void where backups were not readily available. I like the work you are doing !

[2020-01-13 18:18] SerpentDrago commented on #65
are you talking about the Maintenance > backup > addon pack  menu ?

Is there any reason you are needing to backup all addons into a single pack  ? are you not better off just backing up the entire build if doing that ?

[2020-01-13 18:31] theKosmikOne commented on #65
Wow, very fast response !

Yes, it has always been best to restore from a full backup, for myself and for when I share my builds with my friends. Quick and easy for all. Was a long time user of USB-DVD Wizard.

Reason for backup of all addons – For a newer or different skin for myself or others. I use 2 Nvidia Shields but some boxes are less capable and Firesticks are a joke. So I occasionally hav

[2020-01-13 18:46] SerpentDrago commented on #65
Fair enough , Dr is the dev he will have to figure out if he can do this or not .

You know you could have a gui fix backup , this backs up kodi settings / skin settings / skin shortcuts .

it could work well for you .  you make a "base build" , then have different gui fixs for each skin (adjust skin and settings , then make a gui fix backup  .. just  a thought

[2020-01-13 19:22] theKosmikOne commented on #65
Cool idea. Base builds are a good idea and I have always done that with Windows (different strokes for different folks). I simply had not thought of following the same concept in Kodi. LOL, I have trigger fingered to get away from the stock GUI too fast !

So –

Base build

Addons with configurations

Skin(s) with shortcuts +skin adjustments

More work ! I have found that the better you get at som

[2020-01-14 21:05] vchunkyzv opened #66 "Alfa addon [Add-on Request]"
**What accounts does this add-on support?**
Does this add-on have compatibility with Trakt, any debrid services, or any other API keys or accounts? Which ones?
This addon has Trakt and Real Debrid support

**Where is this add-on available?**
This could be a GitHub repo, a Kodi repo, or even just a file manager source.
https://github.com/alfa-addon/alfa-repo/

[2020-01-15 17:42] SerpentDrago opened #67 "[Bug] Local build Restore deletes zip after installing"
Local build restore is deleting the zip after . yes on latest github master

[2020-01-15 17:43] SerpentDrago opened #68 "[Bug] Making local build backup on shield"
Local build backup on shield is not creating the .txt info file

[2020-01-22 20:44] AKBraves opened #69 "[Bug] Error received importing backup"
Receiving an error trying to import a markup generated from both PC and shield to shield (same as backup). Log below

http://paste.ubuntu.com/p/5pFf4rvYCv/

[2020-01-22 20:50] SerpentDrago commented on #69
you say import , you mean saved data like trakt / debrid / logins ?

or are you talking about Restoring a backed up build ?

[2020-01-22 21:49] kbxy88 opened #70 "macOS Catalina error log - Unable to open Wizard"
Getting the following error when trying to use Open Wizard when using macOS Catalina.

- Tried a fresh install of Kodi and just installing the wizard and I can't access any part of wizard.

- I've made a full zip of a build where Open Wizard is fully functional on another computer(macOS Mojave (Catalina's predecessor)).

After adding those zipped files to Catalina same errors occur.

![IMG_2652](h

[2020-01-23 07:23] SOOTTV opened #71 "[Feature Request] Option to save/retain guisettings.xml"
Option to save/retain guisettings.xml on build install

That's about it lol

Thx!

[2020-01-24 16:31] drinfernoo commented on #69
@AKBraves can you test the latest version on `develop` for me? I think I may have found the cause of this.

[2020-01-24 16:31] drinfernoo commented on #68
Can you get me a log file of this?

[2020-01-24 16:31] drinfernoo commented on #67
Can you get me a log file of this?

[2020-01-24 16:33] drinfernoo commented on #49
@tstrul1 have you tried this lately? I believe I may have fixed it with this commit: https://github.com/drinfernoo/plugin.program.openwizard/commit/55fbf3def8af2ac76ea541779094d72db9deedbf, which should be live in 1.2.9 on the repo.

[2020-01-24 16:34] drinfernoo commented on #70
What do you mean by this?

[2020-01-24 16:34] drinfernoo commented on #71
I will knock this one out for 1.3.0 probably.

[2020-01-24 16:36] drinfernoo commented on #65
I don't understand... You want to backup all add-ons during a build backup? That is already what happens.

[2020-01-24 16:37] drinfernoo commented on #55
I've had a think,and I think I have an *ok* solution for how to handle this. I'll consider it in the near future.

[2020-01-24 16:38] drinfernoo commented on #53
Is this working now @icpryde ?

[2020-01-24 16:39] drinfernoo opened #72 "[Bug] Timing for Cleaning"
The timing for autocleaning seems to be off, or being stored incorrectly.

[2020-01-24 16:52] kbxy88 commented on #70
I zipped the build from Open wizard on the OS X Mojave’s that wizard is working fine. Since I can’t open the wizard on OSX Catalina I unzipped the files and put those folders from build in my .kodi folder. The userdata & add on data

My long story short was basically I did a fresh install with just the wizard first and also tried bringing a zipped build and neither worked

[2020-01-24 17:12] drinfernoo commented on #70
Do you have a file called `/Users/nukka./Library/Logs/ims.log`? And is that the folder Kodi dumps logs into on OS X?

EDIT: It does appear that is the path where OS X dumps log files for pretty much *everything* 😳

[2020-01-24 21:04] kbxy88 commented on #70
<img width="366" alt="Screen Shot 2020-01-24 at 4 03 04 PM" src="https://user-images.githubusercontent.com/47716487/73103881-16c86c80-3ec3-11ea-8d70-d628e3f57435.png">
This is what I see

[2020-01-24 21:53] theKosmikOne commented on #65
True. But I also want to install my addons to other skins. Reason, lower spec boxes require very light skins. Other people do this also.

From: drinfernoo [mailto:notifications@github.com]
Sent: Friday, January 24, 2020 11:36 AM
To: drinfernoo/plugin.program.openwizard <plugin.program.openwizard@noreply.github.com>
Cc: theKosmikOne <mysterywire@gmail.com>; Author <author@noreply.github.com>
Subjec

[2020-01-24 22:50] drinfernoo commented on #65
I would recommend either making multiple builds, or one large build (though I can't say I recommend builds with ~300 add-ons), which leverages themes to include different skins.

In any case, Kodi's "multiselect" dialog doesn't allow for a "Select All" or "Select None"... so it's unlikely I could implement it without a custom dialog, which I'm not too keen on.

[2020-01-24 23:52] drinfernoo commented on #70
Can you try the latest version from `develop`? I think I've probably fixed it.

[2020-01-26 06:51] drinfernoo opened #73 "[Request] Make Wizard Only Backup in Fullscreen"

[2020-01-27 20:22] tomtomclub commented on #53
Yes thanks

Op vr 24 jan. 2020 17:38 schreef drinfernoo <notifications@github.com>:

[2020-02-01 12:18] tstrul1 commented on #49
Looks like ther is another error when i try to tackup:
last error here: https://paste.ubuntu.com/p/3V7ydnyjV3/

[2020-02-01 23:10] drinfernoo commented on #71
Can you test latest `develop` branch, and see if this is working for you now?

[2020-02-01 23:19] drinfernoo commented on #49
@tstrul1, could you try the latest commit on `develop`? Please turn on debug logging, and try to replicate the above condition. It appears that your latest log is hanging up on an invalid `addon.xml`, so I've added a debug log statement that should hopefully make it easier to track down.

[2020-02-03 02:45] drinfernoo commented on #68
I'm unable to reproduce this. I simply went to `Maintenance -> Back up/Restore -> [Back Up]: Build` (on my Shield), and completed a backup. After doing so, all of the expected files were created: the build zip, a guifix zip, and the info text file.

[2020-02-04 03:10] icpryde commented on #53
Yes it’s working

[2020-02-04 03:10] #53 closed, assigned to nobody

[2020-02-05 00:36] SerpentDrago commented on #70
@kbxy88  can you test this latest DEVELOP  branch ?

[2020-02-05 00:37] SerpentDrago commented on #71
@SoulTV Can you test this feature on latest Dev branch ?

[2020-02-05 02:55] kbxy88 commented on #70
Hey sorry I had tested then and I haven’t had any issues since he released the Develop Branch. Sorry was chatting with Doc on Discord. I think safe to close now.

[2020-02-05 04:32] #70 closed, assigned to nobody

[2020-02-12 16:39] SerpentDrago commented on #70
fixed in
55fbf3def8af2ac76ea541779094d72db9deedbf

[2020-02-19 11:51] xyzfre opened #75 "[Bug] Keep login info"
I used to get a pop up for when keep login info ,notice the past week it doesn’t show up anymore even if I manually click keep login  info nothing happens

[2020-02-20 19:57] Magic-Dust commented on #60
Thank you sir!

[2020-02-21 01:46] drinfernoo commented on #75
I would need to know which version of the wizard you're running, and probably see a log file.

[2020-02-21 02:12] #60 closed, assigned to nobody

[2020-02-21 02:12] #54 closed, assigned to nobody

[2020-02-21 02:12] #67 closed, assigned to nobody

[2020-02-21 02:12] #71 closed, assigned to drinfernoo

[2020-02-21 03:51] xyzfre commented on #75
I am on the lates version 1.3.0 and right after the update got a log error something about 701 error everything seems to work except keep login info I will post the log tomorrow unfortunately already turned off my TV and in bed appreciate your response will keep you posted thank you for all your hard work

[2020-02-24 16:50] johnapple3k opened #76 "[Bug] Restore.py "external" not defined"
The new changes to fix restore.py from deleting the restore zip introduced a new bug, the error message i recieve is "external" is not defined, so i am unable to restore any builds.
Log:
http://paste.ubuntu.com/p/tgw2BGCvXM/

[2020-02-25 03:18] dashzombie opened #77 "[Bug] Error on restoring local build"
**Describe the bug**
I create and backup a build on my Windows 10 machine and copy the build files over to my Firestick. Then I restore local build on my Firestick only lately I have been getting an error when trying to restore a local build.

It gives me the same error when I tried to restore on the original Windows 10 machine too even on older builds that I know worked before.

**To Reproduce**

[2020-02-25 03:19] drinfernoo commented on #77
Can you please test latest develop branch for me? I've fixed the error I believe, but need confirmation.

[2020-02-25 04:10] dashzombie commented on #77
That worked. Thank you! You saved me rebuilding this thing from scratch.

[2020-02-25 04:11] #77 closed, assigned to nobody

[2020-02-25 12:11] xyzfre commented on #75
1.3.1 fix the error Thank you for all your hard work and for creating an amazing wizard

[2020-02-25 12:11] #75 closed, assigned to nobody

[2020-03-07 17:54] johnapple3k commented on #76
Fixed in 1.3.2

[2020-03-07 17:54] #76 closed, assigned to nobody

[2020-03-07 18:29] The-Red-Wizard opened #79 ""Auto Install Repo If Not Installed" does not work"
**Describe the bug**

"Auto Install Repo If Not Installed" does not work and causes Wizard to error when AUTOINSTALL = 'Yes'.

Probably something I am doing wrong, but last worked for me in Aftermath v0.5.0.  I have tried everything I can think of to fix it myself and across several versions of OpenWizard.

**To Reproduce**
Steps to reproduce the behavior:

Setup "Auto Install Repo If Not Installe

[2020-03-09 13:53] #68 closed, assigned to nobody

[2020-03-31 23:02] #65 closed, assigned to nobody

[2020-03-31 23:03] #49 closed, assigned to nobody

[2020-03-31 23:04] drinfernoo commented on #79
Take it up with One Alliance. That's a different wizard.

[2020-03-31 23:05] #79 closed, assigned to nobody

[2020-03-31 23:06] #29 closed, assigned to drinfernoo

[2020-04-01 05:54] The-Red-Wizard commented on #79
Hello,

It is not a different Wizard.  The most recent version where we tried to get this to work was OpenWizard v1.3.2, with OneAlliance name, urls and icon, etc.  However, we have tried other versions of OpenWizard too.  As I wrote above, the last version where we could get this feature to work was Aftermath v0.5.0.

[2020-04-01 07:14] The-Red-Wizard opened #80 ""Auto Install Repo If Not Installed" does not work [Bug]"
**Describe the bug**
"Auto Install Repo If Not Installed" does not work and causes Wizard to error when AUTOINSTALL = 'Yes'.  Previously Issue #79 (closed).  Last worked for me in Aftermath v0.5.0.

This time I used OpenWizard v1.3.4 with only OneAlliance repo url changes (everything else is OpenWizard).  Then did the same again with OpenWizard repo urls.

**To Reproduce**
Steps to reproduce the b

[2020-04-01 07:16] #80 closed, assigned to nobody

[2020-04-01 07:18] The-Red-Wizard commented on #80
I have just tried the OpenWizard repo urls with the intention of uploading the log, but it works.  Apologies for wasting your time.  I am at a loss as to why the OneAlliance urls do not work.  I have tried with countless different permissions in the cloud including no restrictions at all.

[2020-04-02 12:52] Shark5588 opened #81 "[Bug]Kodi 17.6 fresh install of OpenWizard v 1.3.4 Killing Start Up Script"
Kodi 17.6 fresh install of OpenWizard Killing Start Up Script

----Wizard.log
[2020-04-02 10:20:41] Killing Start Up Script

/////////////////////////// Kodi Log //////////////////////

10:20:40.017 T:3816  NOTICE: special://profile/ is mapped to: special://masterprofile/
10:20:40.017 T:3816  NOTICE: -----------------------------------------------------------------------
10:20:40.018 T:3816  NOTIC

[2020-04-02 19:19] Tinuz97 commented on #64
Any love for Fen @drinfernoo 🙏

[2020-04-06 01:00] #64 closed, assigned to nobody

[2020-04-10 06:25] Jeffers24 opened #82 "[Bug] Failing Path Check"
I downloaded the openwizard zip file to my download folder.
Used install from zip in Kodi to install the openwizard zip.
Install went OK.
Now every time I run kodi I get the message in the attached file.
Is this normal and I just say OK on every kodi run, or is there something I need to fix?
I am using a Kodi 19 nightly, in portable mode, on my windows 10 laptop.
![Screenshot_9](https://user-image

[2020-04-10 06:28] Jeffers24 opened #83 "Error in Log File[Bug]"
When testing the openwizard I noticed it was telling me I had 1 error in my log.
The error is in attached file.
Is this something I should be concerned/do something about?
![Screenshot (209)](https://user-images.githubusercontent.com/47518199/78968583-e628c400-7afc-11ea-8c65-a115f5840001.png)

[2020-04-10 06:36] Jeffers24 opened #84 "[Bug] Could not Select Delete Packages on First Run Popup"
After installing openwizard from zip and doing first run, the popup appeared giving me the option to change settings.
I was not able to change the delete packages setting.
I was able to change the other settings in the popup.
To change the delete packages on startup I use the openwizard configuration option

[2020-04-10 06:43] drinfernoo commented on #83
Doesn't look bad, but it's not my add-on 🤷🏼‍♀️

[2020-04-10 06:44] #83 closed, assigned to nobody

[2020-04-10 06:51] Jeffers24 commented on #83
Thanks for response, only noticed once I installed your wizard.
I will try and find out which addon it is and report to them.

[2020-04-10 10:44] SerpentDrago commented on #84
auto cleanup on start is generally considered a bad idea. because people would use it to clear cache/artwork. which is unnecessary and causes general
slowdowns and stresses meta data providers.

the auto cleanup on startup can as you have seen still be done but is only configurable from settings now. this is to discourage its use by people that are not aware

[2020-04-10 10:49] SerpentDrago commented on #82
this appears to me to be a bug with kodi 19.

is there any particular reason your running 19? it's not exactly ready for prime time.

[2020-04-10 10:52] SerpentDrago commented on #81
I'm sorry. what exactly do you think is wrong? also if you could please next time link to log instead of posting it in a comment. extremely hard to read it that way and very spammy.

[2020-04-10 10:52] SerpentDrago commented on #72
is this still a issue?

[2020-04-10 10:53] SerpentDrago commented on #66
do you still need this?

[2020-04-10 12:14] vchunkyzv commented on #66
It would be useful to have it as an option. It’s not a necessity for me at
the moment, but I know that Alfa is the most used Spanish speaking addon
out there right now so the benefits would be to people beyond myself.

On Fri, Apr 10, 2020 at 5:53 AM SerpentDrago <notifications@github.com>
wrote:

[2020-04-10 12:47] Jeffers24 commented on #84
Thanks for response.
I have used cleanup on start for a number of years.
I found my folders for thumbnails, cache and packages just kept getting bigger.
Are you saying I don't need to do cleanup on startup?
If I don't do it on startup when would the folders be cleaned?

[2020-04-10 12:54] Jeffers24 commented on #82
For prime time I am using Kodi 18, currently 18.6.

The reason I am using 19 early is that I got caught out when Kodi 18 was officialy released and updated my prime time system. The skin I was using wasn't compatible Aeon Nox 5 and I had issues with some addons not working.

Having been caught out once I have taken steps to keep my prime time system as Kodi 18.x, even when 19 is officially release

[2020-04-10 15:12] Shark5588 commented on #81
Hi, SerpentDrago. I just wonted to point out on Kodi 17.6 after fresh install of open wizard you don't get pop up of the settings , if I go in maintenance setting to auto clean on startup- clear cach on startup - clear packages on startup, Then restart kodi it doesn't auto clean.

But when I tested on Kodi 18.6 open wizard works ok on startup.
Sorry for any mistakes my first time.Thanks

https://p

[2020-04-10 16:00] SerpentDrago commented on #82
no need to close if it's a valid issue. me or Dr will just have tp replicate. the wizards goal is to be fully compatable with 19

please provide a link to full debug log and replicate issue thanks

[2020-04-11 05:55] Jeffers24 commented on #82
My log is here:- https://paste.kodi.tv/itowitecaq

[2020-04-12 07:12] Jeffers24 opened #85 "Menu Background Transparency"
Would it be possible to make the menu background more transparent, so that the fanart can be seen more clearly?
Fanart is clear to the right of the menu background, and reduced behind the menu background. Hopefully screenshot will clarify my words.
![Screenshot (212)](https://user-images.githubusercontent.com/47518199/79062829-63873c80-7c95-11ea-85d4-2bae69305f40.png)

[2020-04-12 13:35] SerpentDrago commented on #85
This has NOTHING to do with the addon . addons provide  icons / fanart / thumbnails / meta data to the kodi skin . its up to your skin how it actually displays those elements .

so you will need to modify your skin , or check your skin settings in kodi for options to do what you want (if they provide them )

[2020-04-12 13:44] drinfernoo commented on #85
Yeah, unfortunately this is a skin issue, where your skin (Aeon Nox SiLVO, maybe?) isn't showing very much of the background, via some design choices that are, in my opinion, questionable 😅

[2020-04-12 13:44] #85 closed, assigned to nobody

[2020-04-12 13:51] SerpentDrago commented on #84
correct the thumbnails and cache and packages SHOULD be getting bigger . its saves having to wait for that info to be fetched from remote meta sites . speeds up menu load times . and generally stresses  the nice free meta sites we rely on less !

If every user of kodi fetched artwork / meta data every single time for every single item . the Free metadata sites we rely on for making kodi look nice

[2020-04-12 13:51] Jeffers24 commented on #85
Understand, the skin is Aeon Nox SiLVO, I'll ask the question in Kodi forum.

[2020-04-12 13:57] Jeffers24 commented on #84
I use the cleanup on startup as I set up a box for my non technical 70+ year old sister and she wouldn't be checking memory usage and running manual cleanups.
I still think the fact you can't set the delete packages on the first run popup is a bug?
The popup shows the option but you can't change it, whereas you can change the other options such as clear cache.

[2020-04-12 16:13] drinfernoo commented on #82
I can't quite see why it's happening, but I do think it's a bug.

[2020-04-12 16:14] #72 closed, assigned to nobody

[2020-04-12 16:17] drinfernoo commented on #81
This is something that had to be done in Kodi 17.x versions, in order to keep the script from running twice. With Kodi Krypton now being outmoded for a couple of years, I'd say it's simply time to move on. I'll actually be removing this "feature" entirely at some point, which ends up causing all sorts of weird things on Krypton.

[2020-04-12 16:17] #81 closed, assigned to nobody

[2020-04-12 16:18] drinfernoo commented on #66
Sorry, I've been a bit slow to answer these, but it is a possibility.

[2020-04-12 16:41] Jeffers24 commented on #84
No need to rush this as it can be set in openwizard configuration

[2020-04-13 13:06] Jeffers24 opened #86 "User Customisations Kept After OpenWizard Update Issued?"
I may be miss using this system, I say that because my post is just a query?

If I customise your openwizard as detailed in the wiki, will my changes be overwritten/lost when you issue an update via your repository?

[2020-04-13 13:13] drinfernoo commented on #86
As long as you change the add-on ID, then they won't.

[2020-04-13 13:13] #86 closed, assigned to nobody

[2020-04-13 13:53] Jeffers24 commented on #86
Thanks for response.

If I change the add-on ID will that mean my version with a changed ID will never get any updates?

I notice there is an OpenWizard folder in the Userdata folder which contains a settings file. I am assuming this will never be overwritten/updated when a new version of OpenWizard is installed automatically from your repo. Is my assumption correct?

[2020-04-13 14:35] SerpentDrago commented on #86
Change the ID and install that now forked / changed wizard .  and a new userdata folder with that id will be created .

ID's are what matter as far as kodi in concerned . New id , new settings folder , kodi treats it as a different addon .

Which is why if you make modifications you should change the ID at the very least . so it doesn't get overwritten

[2020-04-13 14:47] drinfernoo commented on #86
@Jeffers24 The `special://userdata/addon_data/plugin.program.openwizard/` folder stores the users settings for the add-on, and won't be overwritten by an update, but could be changed.

By changing the ID of your customized wizard, you won't receive further updates and will have to diff and merge the changes into your wizard.

[2020-04-14 01:29] kodiultimate commented on #84
Just to add little bit. Kodi itself has been set up to clear packages folder when folder gets 200mb in size. So it will never go bigger than 200mb.

[2020-04-15 00:54] drinfernoo commented on #84
I can't replicate this. @Jeffers24, what device are you using?

[2020-04-15 07:10] Jeffers24 commented on #84
@drinfernoo  I am using a laptop, windows 10 OS.
Seeing you could not recreate it I had another check on my laptop, after deleting the OpenWizard folder in userdata>addons.
The OpenWizard first run popup appears.
Using my mouse pad when I move the mouse over the options in the popup they become highlighted and I can change them with the exception of the last one displayed in the popup window, whic

[2020-04-17 06:03] Jeffers24 commented on #84
A bit of further testing.
After using my down key to display the last setting in the popup menu, when I moved my mouse over clear packages and clear old thumbs they ere highlighted and I could change them.
However, the setting 'Keep My Real Debrid' that was now at the top of the popup window I could not highlight with my mouse.
My non technical view is that if the size of th popup window was made

[2020-04-18 11:21] Jeffers24 opened #87 "Editing uservar.py"
When editing the uservar.py file I could not find entries/default example, for the two fields below which are referenced in the OpenWizard wiki

CACHETEXT | Whether or not to "cache" the specified text files. Can be   either 'Yes' or 'No'.
-- | --
WIZARDFILE | A URL to a text file that contains the auto-updating information. This   is typically found within builds.txt, and can be left   as the def

[2020-04-18 14:05] drinfernoo commented on #87
Ah, it's actually because those two fields have been removed. Thanks for the heads up!

[2020-04-18 14:05] #87 closed, assigned to nobody

[2020-04-18 14:51] Jeffers24 commented on #87
Oh, I never saw or used the cachetext field before.

I do use the wizardfile url field as I don't have a repo and issue wizard updates from my hosted files on dropbox.

I am going to post an error log I got in a minute, when trying to auto update my wizard from using a wizardfile url pointing to my dropbox.

[2020-04-18 14:55] Jeffers24 opened #88 "Error on AutoUpdate Wizard from Dropbox"
I updated my wizard and made updates to my autobuild.txt file
The new wizard popup was displayed and I chose to update wizard
During/After install I got a wizard error, my log is here:- https://paste.kodi.tv/viwamejawo
Any pointers/ideas how I can fix this?

If you need a more detailed log, let me know what to switch on and I'll try to recreate.

[2020-04-18 15:02] drinfernoo commented on #87
Use `BUILDFILE` along with a file that matches the format shown on the wiki.

[2020-04-18 15:07] drinfernoo commented on #84
My approach would likely be to replace the custom window with an `xbmcgui.Dialog().multiselect(...)`.

[2020-04-18 15:09] Jeffers24 commented on #87
I use a build file 'autobuilds.txt'
Are you saying when I set AUTOUPDATE = Yes as below paste, that I don't need to specify a url, as OpenWizard uses a url specified somewhere else?
#########################################################
#        Auto Update For Those With No Repo             #
#########################################################
# Enable Auto Update 'Yes' or 'No'
AUTOUPDAT

[2020-04-18 15:12] Jeffers24 commented on #84
I am not technical to know what your response means, I assume it will be better and in some future release.
I can live with things as they are, so this is not urgent.

[2020-04-18 21:36] AxPhantom opened #89 "[Bug]"
**Describe the bug**
Spoke in Discord

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Install the Wizard and Build'
2. Click on 'Close after fully installed'
3. Re-Open and Wait a moment or 2
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Ama

[2020-04-19 01:35] AxPhantom commented on #88
I received the very same issue just today aswell, never had it before.

[2020-04-19 06:21] Jeffers24 commented on #88
What OS and version of Kodi are you using?

I am using windows 10 and a Kodi 19 nightly

[2020-04-20 09:23] Jeffers24 opened #90 "Where Is the Text 'OpenWizard' Used in The Menus Stored"
I have changed the name of the wizard, however OpeWizard is still being used in some drop down menus.
I have had a good look around the folders/files and can't find it.
Where is this text stored so that I can edit it?
![Screenshot_14](https://user-images.githubusercontent.com/47518199/79735867-dc6b4180-82f0-11ea-84ff-f4f919e6ee08.png)

[2020-04-20 09:55] 45Record commented on #90
Uservar.py line 66

[2020-04-20 11:10] Jeffers24 commented on #90
Excellent, thanks for response.

[2020-04-20 11:10] #90 closed, assigned to nobody

[2020-04-20 20:00] drinfernoo commented on #90
@Jeffers24 thanks @record_45 🙏

[2020-04-21 08:28] Jeffers24 opened #91 "Icons Not Shown Kodi 19"
In Kodi 19 when browsing wizard menus, icons not shown including default icon.png
All OK in Kodi 18
![OW1](https://user-images.githubusercontent.com/47518199/79843592-5ca5ab80-83b2-11ea-9e16-b7f88e328055.JPG)

[2020-04-22 07:50] Jeffers24 opened #92 "APK Installer Option Not Showing After Opening Wizard"
I have checked my APK text file format, it matches the OpenWizard wiki file  format.
I have copied and pasted my APK text file url from Uservar into internet browser and the text file downloads correctly.
The APK text file I am using is the one from my Aftermath wizard that works OK.
Any pointers as to what I can check/change to get APK installer option to display?

[2020-04-22 08:06] 45Record commented on #92
Give this a try and see if it works as I had issues with my builds.txt from my aftermath.

Copy your text from your apk.txt from aftermath and paste it in the apk.txt file located in resources > text > apk.txt and use that in replace of your aftermath txt.

Not sure if it’ll work, but it’s worth a try.

[2020-04-22 08:20] Jeffers24 commented on #92
Looking at the APK text files from Aftermath and OpenWizard, in Aftermath the file is called apk.txt, in OpenWizard it is called apks.txt?

After copying the apk.txt file content from Aftermath to apks.txt in OpenWizard:-
   - How does OpenWizard know to look in it's apks.txt file for data?
   -  DO I need to remove my https url link for the APK text file in Uservar?

I noticed another entry missi

[2020-04-22 08:36] 45Record commented on #92
If I understand what you’re saying you need to keep your apks.txt url at line #25. Just make sure like you mentioned to have it labeled apks.txt, not apk.txt

The other section you mentioned are just for icons. I doubt anything missing from there will effect your apks.txt to work correctly.

[2020-04-22 11:27] Jeffers24 commented on #92
Renamed my APK text file on Dropbox to apks.txt, did necessary changes to wizard, rezipped, was asked to install new wizard, installed, opened wizard and still no APKs option on wizard menu.

I snapshotted and arrowed the paths for ICONSPEED and ICONAPK to show that they were in the wizard and not left as 'http://', so shouldn't have been ignored.

I modded the dropbox link on line 25
![Screenshot

[2020-04-22 12:38] drinfernoo commented on #92
@Jeffers24, are you running Kodi 18.x?

[2020-04-22 12:40] #89 closed, assigned to nobody

[2020-04-22 12:43] Jeffers24 commented on #92
Gave up on trying to slowly do a Kodi 19 build. Installed the Kodi 19 21/04 nightly and it rejected the OpenWizard as not compatible :-( along with other things like Version Check. Seemed to be taking me backwards so I will leave 19 for a while.

Yes, I am using Kodi 18.6 on android from the playstore.

Apologies for not stating.

[2020-04-22 13:48] drinfernoo commented on #92
The APK function does not work, and has thus been disabled, on version greater than 17.6. There are a handful of existing issues here outlining it, and it is unlikely to get fixed.

[2020-04-22 13:48] #92 closed, assigned to nobody

[2020-04-22 13:59] SerpentDrago opened #93 "[Kodi19] Stock - Install bug report"
All tests done on windows 10 PC , with kodi 19 latest dev x64

**Install issues**
1.
`2020-04-22 09:48:01.636 T:22828   ERROR <general>: CAddonInstallJob[plugin.program.openwizard]: The dependency on xbmc.python version 2.1.0 could not be satisfied.`

Fixed by removing
`<import addon="xbmc.python" version="2.1.0" />`
From addon.xml

2. IT now installed , only with a single openwizard error at the

[2020-04-22 13:59] Jeffers24 commented on #92
How can I enable the APK function again?
Is it a check somewhere in the wizard and if Kodi version is greater than 17.6 don't display APK option.
I know it won't install on Kodi 18, but it will download and I can install the apk with my file explorer.
What about the second menu item ICONSPEED entry in my post above, which in aftermath displays as Internet Tools?

[2020-04-22 16:31] drinfernoo commented on #92
@Jeffers24 There is a check for it, yes, so that it won't show in versions greater than 17.6.

There is a well-documented core Kodi permissions bug that prohibits install, so I won't be adding support until that is fixed.

[2020-04-22 17:10] Jeffers24 commented on #92
I wasn't going to ask you to make the change.

I would like to know where the check is so I can change it in my version of your wizard?

What about the second menu item ICONSPEED entry in my post above, which in aftermath displays as Internet Tools?

[2020-04-22 18:30] drinfernoo commented on #92
The version check is here: https://github.com/drinfernoo/plugin.program.openwizard/blob/master/resources/libs/gui/main_menu.py#L72

And the "Network Tools" menu is now declared here: https://github.com/drinfernoo/plugin.program.openwizard/blob/master/resources/libs/gui/maintenance_menu.py#L194

It now uses the ICONMAINT icon for that particular menu, but ICONSPEED on the items inside.

[2020-04-23 06:12] Jeffers24 commented on #92
Many thanks for the url to the APK check.
I changed the <18 to >16 and it worked as in screen shot below.
![Screenshot_17](https://user-images.githubusercontent.com/47518199/80065230-b2ed2880-8531-11ea-89ca-30eb2d1e58a2.png)
I'll have a look at the 'Network Tools' next

[2020-04-23 06:29] Jeffers24 commented on #92
Thanks again for clarifying that 'Network Tools' is still there and can be accessed via:-
Maintenance >Misc Maintenance >Network Tools.

[2020-04-25 06:21] Jeffers24 opened #94 "APK Install Option Not Accessing apk.txt File Correctly"
Kodi 18.6, Android phone, both wizards in the same Kodi build, both wizards using same apk.txt file.

When I choose APK Install option on my old wizard I get these options:-
![Screenshot_2020-04-25-06-59-17-991_org xbmc kodi](https://user-images.githubusercontent.com/47518199/80272804-8584b400-86c4-11ea-876b-b6435081fa1b.jpg)

When I choose APK install on my modified OpenWizard I get this option:-

[2020-04-25 06:27] drinfernoo commented on #94
How could I possibly know given that little information?

[https://github.com/drinfernoo/plugin.program.openwizard/wiki/Installing .apk's](https://github.com/drinfernoo/plugin.program.openwizard/wiki/Installing%20.apk's)

[2020-04-25 06:28] #94 closed, assigned to nobody

[2020-04-25 06:36] Jeffers24 commented on #94
Happy to supply any other information that would be useful to identify the issue.

What information would you like me to supply?

Here is an extract for one of the items in my apk.txt file on dropbox, all the entries in the apk.txt follow this format:-
name="CPU Monitor"
section="no"
url="https://www.dropbox.com/s/vom5v5dl8iwn3ry/CPU%20Monitor.apk?dl=1"
icon="https://www.dropbox.com/s/pol0ke6iq4g2

[2020-04-25 16:34] SerpentDrago commented on #94
How are you even getting the apk menu to show up .

I've tested with latest openwizard . adding only link to my apk txt in uservar  and menu doesn't appear .. at least in my test android emulator .

What version of the wizard are you suing for both examples .

can you post your uservar file , and apk text file .

[2020-04-25 17:38] Jeffers24 commented on #94
Hi,
Nothing to do with uservar file or apk text file.
**drinfernoo**   provided me this link, showing where the test was that stops the 'APK Installs' being listed in the OpenWizard menu list.

https://github.com/drinfernoo/plugin.program.openwizard/blob/master/resources/libs/gui/main_menu.py#L72

I changed the '<18' check, to '>16'

[2020-04-27 04:36] SerpentDrago commented on #94
I'm fully aware that it showing or not is  Nothing to do with uservar file or txt file . i was asking for that  to look into YOUR issue .

I just ran into another issue when trying to replicate yours (as you showed in the code above ) forgot about that :)

[2020-04-27 04:47] SerpentDrago commented on #94
Was able to replicate issue , looking into it .

This would have been super simple if you would have provided a debug log and a wizard log .

[2020-04-27 05:48] SerpentDrago commented on #94
Quick fix , proper fix will be issued later by dr when he has the time .

change line 160 in menu.py to this

`            match = re.compile('name="(.+?)".+?ection="(.+?)".+?rl="(.+?)".+?con="(.+?)".+?anart="(.+?)".+?dult="(.+?)".+?escription="(.+?)"', re.S).findall(TEMPAPKFILE)`

as can be seen here

https://github.com/drinfernoo/plugin.program.openwizard/compare/master...SerpentDrago:patch-1

U

[2020-04-27 06:57] Jeffers24 commented on #94
SerpentDrago
Apologies for not understanding what you were asking me for and thanks for responding, I am new to to using OpenWizard and this github, I didn't know who you were. I thought you were someone having the same issue and asking me how I had done what I did.
I did offer to supply any information required to help investigate this issue, see below:-
![Screenshot_18](https://user-images.githu

[2020-04-27 14:20] SerpentDrago commented on #94
Not a problem . Generally Screen shots are great . but we also normally request  FULL Debug log , and wizard log . they tell us so much about your setup / other possible conflicting addons / errors / and more . and any non standard edits you have done to the code base .   Its why dr closed your comment at first . there is simply not enough to go on .  And to be fair with all your kodi 19 stuff he

[2020-04-27 14:25] SerpentDrago commented on #84
While this may "fix the issue" for most people . the problem with using xml is its so damn skin dependent/resolution dependent / etc  . Dr's tried to take the "make it universal " approach with the wizard .

I'll check out your proposed changes to the xml . and see if that also fix's mouse issues .

@Jeffers24 Trust me when i say its best to NOT use a mouse in kodi , it can cause all kinds of issu

[2020-04-27 14:29] Jeffers24 commented on #94
Just started using OpenWizard as I was looking for a wizard to use in my Kodi 19 build.
That's why I have raised a number of issues/queries in the last week.

Just noticed version 1.3.7 has been released :-)

Regards Kodi 19 OpenWizard issues, I can leave off testing OpenWizard with Kodi 19 and just focus on Kodi 18.6 if that would be helpful?

I'll do my testing on Kodi 18.6 with the new version

[2020-04-27 15:14] Jeffers24 commented on #94
Update on installing APK testing.
Using Kodi 18.6 fork, OpenWizard 1.3.7 + two APK changes supplied in this thread.
Selected 'APK Installer' from OpenWizard top level menu.
APKs detailed in my apk.txt file were listed in the OpenWizard APK Install menu.
Selected 'CPU Monitor'.
Selected 'Download' and apk was downloaded.
Wizard screen displayed giving two options 'Cancel' and 'Install', install was

[2020-04-27 16:07] Jeffers24 commented on #84
Excellent, thanks

[2020-04-27 16:10] #84 closed, assigned to nobody

[2020-04-27 16:14] SerpentDrago commented on #84
the above should fix it , disregard the other PR  , #96 is correct ,  95 is not

[2020-04-28 01:44] drinfernoo commented on #94
@Jeffers24, if you would please test the latest on `develop` for me? I've converted to using the Kodi Android Updater add-on for official APKs, adopted a similar method to that add-on in order to allow the wizard to launch a file manager for subsequent install, and also removed the version restriction for the APK menu to show.

[2020-04-28 07:02] Jeffers24 commented on #94
@drinfernoo , How do I get to the zip download version that you want me to test?
I have tested with v 1.3.7 and provided logs.
I can't find any later version on the code tab.

[2020-04-29 07:51] Jeffers24 commented on #94
@drinfernoo
**Testing:-**
Finally found out how to get to Develop and downloaded version for testing.
Displaying 'APK Install' in OpenWizard menus worked.
Displaying list of APKs from my apk.txt worked.
Selected 'CPU Monitor' popup menu appeared selected download worked, apk downloaded to download folder.
CPU Monitor APK did not install automatically, this screen was displayed:-
![Install Download

[2020-05-01 00:23] #7 closed, assigned to drinfernoo

[2020-05-04 03:24] #48 closed, assigned to drinfernoo

[2020-05-17 21:14] cg00001 opened #98 ""Edit my whitelist" takes one minute to open[Bug]"
Using Kodi v18.6 on Manjaro Linux.

On previous versions of the wizard it opened after a few seconds.

[2020-05-18 21:32] JayDee696969 opened #99 "[Bug] Quick Configure advanced settings"
Im sure I missed a few updates to the wizard, but my question is what happened to the Quick configure advance settings GUI? Was that removed on purpose, or is this intended? All i see now is two settings for low ram and high ram devices. But I assume these are presets and are not actually reading the current free ram and setting it accordingly correct? It seems now you have to use one of the prese

[2020-05-18 21:36] SerpentDrago commented on #99
it was switched to a text based / normal menu on purpose . you can setup your own presets if wanted .  or set it to the exact value you want .  the old gui based one was a mess and not able to be improved upon .

This is not a bug .

https://github.com/drinfernoo/plugin.program.openwizard/wiki/Packaging-advancedsettings.xml-Files

[2020-05-18 21:39] drinfernoo commented on #99
The custom window for it was removed because it was outdated, broken (from my memory), and I intended on redesigning the entire section... but I didn't get around to finishing it. Currently, you're correct. You can download a preset (even the default one), and then modify it after the fact.

For the record, you can do both of those things without a reboot I'm between, followed by a reboot, and it

[2020-05-18 21:39] #99 closed, assigned to nobody

[2020-05-18 21:42] JayDee696969 commented on #99
Ok, so it no longer is able to read your current device free ram and create the advanced settings accordingly right? Its only generic presets that arent specific to the device our using?

[2020-05-18 21:50] JayDee696969 commented on #99
Doesnt seem like an effective way to set advanced settings. Different devices, different amounts of free ram, different results that cant be determined by a preset value.

[2020-05-18 22:06] SerpentDrago commented on #99
90 percent of devices fit into 3 category's

low ram  (1 gig )
high ram  (2gigs or more )
0 cache (write to disk) (pc's or streaming box with hd for kodi )

Kodi should never really be set to more then 300 meg cache size anyways  else you have random weird issues .

You could make about 4 presets and have 99.99 percent of devices covered .

People that don't know enough to set it custom themselves

[2020-05-18 22:11] SerpentDrago commented on #99
also when you go quick configure advancedsettings > network and cache >  and click memory size it will auto detect what you should set it to as suggested

[2020-05-18 22:22] JayDee696969 commented on #99
I understand and agree with your responses, but dont you agree that it would make more sense to autodetect the values first and then write the advanced settings? I mean, thats kinda the whole point of setting them, isnt it?

[2020-05-18 23:51] drinfernoo commented on #99
No, it isn't the point. The point is that you *can* configure it. If you use this to adjust your settings, you can easily change it to the recommended value that it calculates for you.

[2020-05-29 18:37] Arcitec opened #101 "[Bug] Unable to change backup location (global name "logging" not defined)"
Kodi 18.6 (latest Google Play Android TV version), with Embuary skin, and latest Openwizard 1.4.1 from your repo.

When I click on "Maintenance: Backup/restore: Backup location" I get an error and nothing happens. The code complains that a global variable is missing.

The relevant error is: "global name 'logging' is not defined".

By the way, what kinda hobbit language is "Back Up and Restore"? Th

[2020-05-30 09:53] Tonkapug opened #102 "Backup Not fully Completing (Files Missing)"
I'm running Kodi 18.7 on a Windows 10 PC

I have a large library integrated via TMDB Helper. When trying to backup using the Wizard it completes without error but the final product is missing numerous items. Including skin, settings, addons, databases potion of the library etc...

Here's what I did to test:
I renamed my build's directory (Kodi to Kodi_backup) and reopened Kodi to a fresh install.

[2020-05-30 14:37] drinfernoo commented on #102
Hey, thanks for the detailed bug report! I actually think I should have it fixed in the latest `develop` branch, if you'd test it for me?

[2020-05-30 14:40] drinfernoo commented on #98
Can you provide a log file or anything?

[2020-05-30 18:21] cg00001 commented on #98
This is from the build I'm using -Xenon Plus v3.3.
https://paste.ubuntu.com/p/4y6hxTYyqd

This is from an empty Kodi, with just Open Wizard installed.
https://paste.ubuntu.com/p/j35T4mbYh5

[2020-05-30 19:18] drinfernoo commented on #98
According to your clean log file, this is you choosing the menu item to edit the whitelist:

```2023: 2020-05-30 21:17:41.295 T:139621308788544   DEBUG: RunScriptWithParams - calling plugin [COLOR limegreen]Open[/COLOR]Wizard('plugin://plugin.program.openwizard/','-1','?mode=whitelist&name=edit','resume:false')```

Followed by the select dialog showing up, 8.028s later:

```2236: 2020-05-30 21:17:

[2020-05-30 19:18] #98 closed, assigned to nobody

[2020-05-30 19:56] cg00001 commented on #98
That doesn't explain why in previous versions of the wizard with the same amount (and maybe larger) of addons, it only took a few seconds to open the Whitelist dialog.
Thanks for your time.

[2020-05-30 22:14] Tonkapug commented on #102
Thank you for the quick response. I will test as soon as I return home and report back with the results.

Appreciate your work...enjoy your evening!

[2020-05-30 22:37] Tonkapug commented on #102
I installed the development branch but received an error during install and also on the first run of the wizard. Below I have attached the Kodi log.

[kodi.log](https://github.com/drinfernoo/plugin.program.openwizard/files/4706718/kodi.log)

[2020-05-31 23:42] Tonkapug commented on #102
Just checking in! Any luck sorting the issue? The dev branch will not run at all, it just produces an error and closes. Unable to test completing a backup.

Again, thanks for looking into this issue. Have a good evening!

[2020-06-01 00:32] drinfernoo commented on #102
@Tonkapug Can you test it again? The latest `develop` should be working fine.

[2020-06-01 08:10] Tonkapug commented on #102
I tested again and it installs fine. I tried on a couple of devices the other day and could not get it to install.

I completed a backup and it appears to have completed successfully. I checked the backup.zip and now the complete library is included along with the missing addon_data and databases.

Although, I attempted to restore the backup via 'Local Restore' and it fails with an error right at

[2020-06-03 20:34] Tonkapug commented on #102
Thanks for the help but I couldn't get the backup to restore using the development branch. I tried multiple times on multiple devices.  Googled the error and what I can only assume is the ZIP64 format is producing the error "Bad magic number error with ZipFile".

[2020-06-03 20:58] drinfernoo commented on #102
Yeah... I need to figure out a better way. The wizard currently uses a modified version of the standard `zipfile` Python module, but I think to fix this may require use of the `libvfs.archive` module instead.

[2020-06-03 22:46] Tonkapug commented on #102
If you figure it out just drop me a line and I'll test for you. I saved the library and will keep it until a fix is available.  I'm flying out to work in the AM and won't return for about a month, so this is all on the backburner till then anyway. As always, I appreciate your help and the wizard. Keep up the good work!

[2020-06-09 09:34] GOvEy1nw opened #103 "[Add-on Request] PlexKodiConnect"
**What accounts does this add-on support?**
Just Plex I believe

**Where is this add-on available?**
https://github.com/croneter/PlexKodiConnect

[2020-06-15 21:13] #101 closed, assigned to nobody

[2020-06-15 21:31] #91 closed, assigned to nobody

[2020-06-16 05:16] IAMSKORPZ opened #105 "Enable Minor Update"
Hello how do enable Minor Updates in the wizard ?  Thanks

[2020-06-16 05:17] drinfernoo commented on #105
It's a leftover, broken feature that was never fully implemented. There is no way currently.

[2020-06-16 05:17] #105 closed, assigned to nobody

[2020-06-16 13:48] SerpentDrago commented on #105
@TeamSkorpz to be clear though you still need the minor= "http://"  placeholder in the build.txt file even though you can't actually use it

[2020-06-16 13:49] IAMSKORPZ commented on #105
Yeah, I figured that out the hard way

[2020-07-20 14:42] siliconhippy opened #106 "Whitelist purpose ? Prevent addons or addons zips deletion..."
Hi and great job !

What is the purpose of adding to the Whitelist?

1. If I don't add the specific add-on to the Whitelist, will it be deleted upon next boot?

Or is this Whitelist meant to delete non-included zip .Kodi/addons/ packages only upon next boot?

2. It would be nice to have All and None buttons: I counted 180+ addons and scripts etc in the Whitelist window !

Is there a way to select

[2020-07-30 23:16] icpryde opened #107 "[Bug] OpenWizard is deleting Seren cache folder (Found solution)"
Hey @drinfernoo  OpenWizard back up does not contain   \addons\plugin.video.seren\resources\lib\database\cache   which is required for proper function of Seren.

If you manually put that folder and the 1 file that is in that folder in the back up inside the zip then the restored build works perfectly.

So OpenWizard just needs to not delete that folder when backing up (or just making sure its ther

[2020-07-31 05:04] icpryde commented on #107
you fixed it thank you!

[2020-07-31 05:04] #107 closed, assigned to nobody

[2020-08-06 13:48] JayDee696969 commented on #106
Whitelist saves addons/data when you fresh install a build. Nothing gets deleted just by rebooting Kodi, its only to save specific stuff if you fresh install a build. Useful if you add addons that arent already part of a build and want to save from being deleted next time you update the build.

[2020-08-06 14:16] siliconhippy commented on #106
Thanks 😊
I just wish there were a All or Nine button too.
Is there a way to add a All or None command by going into some xml file ?

[2020-08-09 19:30] JayDee696969 commented on #106
That wouldnt make any sense, then you would just be backing up the whole build.  So just use the backup build option instead. Also would make any build updates useless if you are just backing up everything.

[2020-08-10 02:34] siliconhippy commented on #106
Appreciate your answers !
It all makes sense now 😂

[2020-08-11 04:28] sdstreams opened #108 "Startup Error"
Hello, I tried searching online for some assistance but maybe someone on here knows. Whenever I install a test build using Openwizard it installs then when kodi reboots it looks like the build took but then an error pops up saying "Wizard did not install correctly! Installed: /Error count would I like to try again". There are 0 errors in log and my build is installed at this point but current buil

[2020-08-15 02:09] hawksta opened #109 "[Bug]"
Your build works perfectly on my old X96 Mini but on my new X96 Air it won't connect to half the wizards. I cannot run asked tests.  I cannot look at my ip and nax. I cannot modify cache and network presets. I'm trying to use your build to solve a problem with being unable to connect to premiumize.me links, but I also cannot connect to a new repository when I install it from zip file.  I can conne

[2020-08-15 02:12] SerpentDrago commented on #109
OpenWizard is not a "build" its a tool that allows others to make builds and distribute them / maintain them . Others fork this "tool" and then use it to allow others to install their build .

Your issues have nothing to do with OpenWizard itself

if you have issues with your build or kodi , i recommend you contact the people that maintain / distribute your build or other forums of kodi tech suppo

[2020-08-15 02:37] hawksta commented on #109
I understand that I'm just after any help or experience anyone has had previously.

[2020-10-14 00:22] bigo229 opened #111 "Wizard Build Text File Error"
Builds not showing in wizard  just error message

Getting error message.   Text file for builds not formatted correctly
I followed your guide at
 [Installing Builds](https://github.com/a4k-openproject/plugin.program.openwizard/wiki/Installing-Builds)

Also notifications giving error of Text file for notifications not formatted correctly

i have uploaded the text files to ifastnet.com & 000 webhost

[2020-10-14 00:52] SerpentDrago commented on #111
no , it must be a txt file formatted properly .  can't help you unless you post your builds.txt

[2020-10-14 11:11] bigo229 commented on #111
my build txt file

name="[COLORblue]****The Big One Kodi 18.x Leia Builds****[/COLOR]"
version="0.0"
url="http://"
gui="http://"
kodi="18"
theme="http://"
icon="http://"
fanart=""
preview="http://"
adult="no"
description="Our Kodi 18 Leia Lineup"

name="TBO SUPER "
version="1.0"
url="https://www.dropbox.com/s/ybm8uxbelwwxwis/TBO%2BSuperV1.0.zip?dl=1"
gui="http://"
kodi="18"
theme="http://"
icon="h

[2020-10-14 12:37] SerpentDrago commented on #111
Next time if you could actually upload the txt file or link it , formatting can get fucked up by just pasting it in and formatting matters . but i'll try .

your missing a fanart placeholder  in your first entry
should be
`fanart="http://"`

2nd entry
Your missing preview placeholder , and you need to be sure description has " "  around it with no other " contained within   , it should read

[code

[2020-10-14 12:40] SerpentDrago commented on #111
![image](https://user-images.githubusercontent.com/21133858/95989932-e631b580-0df8-11eb-989d-81143895d9ce.png)

[2020-10-15 18:30] bigo229 commented on #111
Hi, SerpentDrago

Here are the links;

http://thebigone.freesite.vip/TBO/texts/notify.txt

http://thebigone.freesite.vip/TBO/texts/buildsleia.txt

SerpentDrago

[2020-10-16 00:45] SerpentDrago commented on #111
yeh ok , so read my previous comments and do the modifications you need to do . Looked at the direct links , seems to need the same changes i highlighted

[2020-10-16 09:53] bigo229 commented on #111
Thanks i will give that a try what about the notify.txt i get the same error with that file ?

[2020-10-16 18:01] bigo229 commented on #111
I changed the build txt file & tested on my 2 webhosts  ifastnet.com & 000 webhost but still the same error on one & not showing on the other.

I purchased premium paid hosting & the builds appeared & worked,

Not tested the notify txt file yet

bigo229

[2020-10-18 17:29] #111 closed, assigned to nobody

[2020-10-27 16:16] JayDee696969 opened #112 "A Little Help Please"
Drinfrnoo,
So ive managed to update the Debrid, Trakt, and addon save data sections in the wizard with the addons of my choice and are working well now. (debridit.py, traktit.py, loginit.py)  I was hoping you could give me some guidance on one thing, visibility. Its coded now so the addons only are visible in these save data sections when the addons are actually installed. I would like to have the

[2020-10-29 06:40] oswaldchenby commented on #112
Drinfrnoo didn't develop Open Wizard but just hosting it nor he likely to provide any support. maybe a better idea ask that in a4k forum?

[2020-10-29 12:55] JayDee696969 commented on #112
You know where this A4K forum might be?

[2020-10-30 07:42] oswaldchenby commented on #112
https://www.reddit.com/r/Addons4Kodi/

[2021-01-18 16:08] JayDee696969 opened #113 "[Bug] Please Update for Matrix."
Matrix RC is now available: https://kodi.tv/article/kodi-19x-matrix-release-candidate.
It would be great to have a working wizard. Thanks!!

[2021-01-18 16:11] drinfernoo commented on #113
As there is not currently a developer maintaining this project, it's unlikely that any updates will be made, unless someone steps forward and volunteers to update it.

[2021-03-04 01:17] drinfernoo commented on #113
Got some help, and had been updated to 2.0.0 with initial Kodi 19 support.

[2021-03-04 01:17] #113 closed, assigned to nobody

[2021-03-05 13:58] drinfernoo commented on #112
I... did create OpenWizard 🤔

@JayDee696969 If the builds don't have any add-ons installed in them to begin with, then there is no data to save 🤔

[2021-03-05 13:59] drinfernoo commented on #109
This doesn't sound like an issue with OpenWizard. Something else is going on.

[2021-03-05 13:59] #109 closed, assigned to nobody

[2021-03-05 13:59] drinfernoo commented on #108
Reopen with a log file attached if this is still an issue.

[2021-03-05 13:59] #108 closed, assigned to nobody

[2021-03-05 13:59] #106 closed, assigned to nobody

[2021-03-05 14:01] drinfernoo commented on #93
Kodi 19 support has been added as of 2.0.0.

[2021-03-05 14:01] #93 closed, assigned to nobody

[2021-03-05 14:02] drinfernoo commented on #88
Your log file has expired, but 2.0.0 added Kodi 19 support. Please open this again with a new log if you're still having this issue.

[2021-03-05 14:02] #88 closed, assigned to nobody

[2021-03-05 14:03] drinfernoo commented on #82
Your log file has expired, but 2.0.0 added Kodi 19 support. Please open this again with a new log if you're still having this issue.

[2021-03-05 14:03] #82 closed, assigned to nobody

[2021-03-05 14:04] #69 closed, assigned to nobody

[2021-03-05 14:07] #38 closed, assigned to drinfernoo

[2021-03-05 14:09] #112 closed, assigned to nobody

[2021-03-05 15:06] JayDee696969 commented on #112
Well, I have my own reasons. I do not preinstall many addons to save space. I prefer to have shortcuts to the addons so at first click it prompts you to install the selected addon. This slims down the bloat and allows users to only install the addons they prefer to use. I also set the debridit and traktit sections to open the Authorization window, so my goal is to use the debridit.py and traktit.p

[2021-03-05 16:55] drinfernoo commented on #112
My point is, if the user has never installed the add-on before, there is no data for them to save, so why have them go there? Once an add-on is installed, if "Save Data" is enabled, their data will be saved by default (whenever the wizard goes through a save cycle), once there is data to save.

[2021-03-05 20:30] JayDee696969 commented on #112
Like i said above, Im not using it to only save the data, I also use it to open the debrid authorization, and Trakt authorizations for the addon. So if it was visible, on first click it would install the addon, and open the authorization, then save the data in one press.
`       'kaitord': {
        'name'     : '[B]***Kaito Anime Real Debrid***[/B]',
        'plugin'   : 'plugin.video.kaito',

[2021-03-05 20:48] JayDee696969 commented on #112
![Screenshot_61](https://user-images.githubusercontent.com/45118866/110171761-2f939900-7dca-11eb-960d-b1a9fad54cae.png)

[2021-03-05 20:48] drinfernoo commented on #112
You can remove lines 363 (for Trakt), 412 (for Debrid), and 460 (for Login) in `menu.py`, but be sure to de-indent the lines contained inside the corresponding `if` block, or else Python will error.

[2021-03-05 20:49] JayDee696969 commented on #112
Thank-You! Ill try that.

[2021-03-05 22:37] JayDee696969 commented on #73
Just curious what you mean by this. Is this just to make sure its not backed up in Windowed mode?

[2021-03-08 08:38] LoganWolverineX opened #116 "[Bug] 1.4.7 broke the builds menu section"
**Describe the[][Kodi log](https://www.dropbox.com/s/ov6a3oh4dmcqt76/kodi.log?raw=1) [Kodi log](https://www.dropbox.com/s/ov6a3oh4dmcqt76/kodi.log?raw=1) ()  bug**
I have a modified uservar.py file I have been using for a while which had no problems but now, it crashes openwizard when I go into the builds menu after After using my uservar.py file after openwizard has been updated to 1.4.7

**To Re

[2021-03-08 14:24] #116 closed, assigned to nobody

[2021-03-08 14:28] drinfernoo commented on #116
Fixed in 1.4.7.1 🤦🏼‍♀️

[2021-03-22 22:26] LoganWolverineX opened #119 "[Bug] OpenWizard Won't Load Upon Updating to v2.0.4"
**Describe the bug**
OpenWizard fails to open after updating to v2.0.4 on Kodi 19.

**To Reproduce**
Steps to reproduce the behavior:
1. Update OpenWizard to 2.0.4
2. Open OpenWizard
3. Error

**Log**
[kodi.log](https://github.com/a4k-openproject/plugin.program.openwizard/files/6185620/kodi.log)

**Platform**
Kodi 19

[2021-03-23 02:26] SerpentDrago commented on #119
Works fine on my Kodi 19 on pc

![image](https://user-images.githubusercontent.com/21133858/112083547-a1efd180-8b5d-11eb-8e52-0ab2a9233fb8.png)

[2021-03-23 02:31] LoganWolverineX commented on #119
I found the issue. I usually have a modified user.py file so I can restore my build over the cloud on my devices. When updated, for some reason, I broke. I fixed my problem by overwriting the user.py file with the one I had modified. I’m good now.

Not sure why it broke when I updated though. I would have thought the default user.py would have been installed when I updated.

[2021-03-23 07:04] #119 closed, assigned to nobody

[2021-03-25 19:47] iTroNk opened #120 "[Add-on Request] Hide Menu Options"
Good sorry, I would like to remove options from the maintenance menu, log etc. Would it be possible to eliminate options?

Leave only the installation part.

[2021-03-25 19:49] Arthur1967 commented on #120
I'm just seeing this what is the repo for this and what can I apply it to I'm kind a new to github  thanks like which add-ons can I apply it to and what is it a repo￼￼￼￼

[2021-03-25 21:34] drinfernoo commented on #120
@iTroNk, feel free to modify your own fork of the wizard any way you please. You can remove any section you like from the Python code, but it will no longer be supported if issues arise.

[2021-03-25 21:35] #120 closed, assigned to nobody

[2021-03-26 11:21] iTroNk commented on #120
To hide it so that users do not appear when installing it, which file should I modify?

[2021-03-26 14:03] drinfernoo commented on #120
Take a look at the files in the `gui` folder.

[2021-04-01 10:36] Zaxxon709 opened #121 "Errors produced from all addons after backup installed to Kodi Fork[Bug]"
**Describe the bug**
I've created a backup of my Kodi installation on my PC using Openwizard. It installs fine on a stock Kodi APK but not on my Kodi fork. Install goes fine without any errors noted from OpenWizard but once force closed and re-opened all add-ons produce the following error.

Error Contents: No module named packages.six.moves.http_client

**To Reproduce**
1. Backup build via OpenWi

[2021-04-01 12:13] SerpentDrago commented on #121
Can you provide a link to kodi fork please? Your build?

Have you tried another kodi fork? Have you tried force updating that dependency that's failing? Disabling it restart then updating it?

[2021-04-01 12:45] Zaxxon709 commented on #121
Thanks for the quote response!

I'm out at the moment but will provide a link when I get back to my pc.

Yes, I've tried other forks with the sane result.

I've double check all versions of dependencies and they are the most current.

I have not disabled and retried an update of the dependency. I will give it a try.

The issue appears to be with urllib3 but I'm not 100% certian of that.

I've used

[2021-04-01 13:30] drinfernoo commented on #121
I'm not particularly experienced with other forks, as I don't support them...

But it could be a conflict between having the dependencies in your backup, and also already "installed" as part of your fork. I'm really not sure how Kodi handles it when you "install" an add-on that is already "built in".

[2021-04-01 13:37] SerpentDrago commented on #121
^ thats a good point , you could simply try removing the dependencies in your zip . and trying that.

you have tried restarting kodi / device multiple times right ? seems like its trying to import from memory and its not finding it .

or your build you made on pc is including slightly platform specific deps or vis versa .

https://www.reddit.com/r/Addons4Kodi/comments/mf0p0j/all_addons_produce_an_

[2021-04-01 13:56] SerpentDrago commented on #121
also your log is from a samsung android device (tv) not a pc , your saying this happens even when restoring a wizard backup from pc TO pc ?

[2021-04-01 15:15] Zaxxon709 commented on #121
No, only on the fork, PC is fine.

I have it sorted now. The dr's suggestion solved it. There must be a conflict when having the dependencies included in the build.zip and having them compiled within the fork.

Thanks for your help bud, I really appreciate it.

[2021-04-01 15:17] Zaxxon709 commented on #121
That's me! I got it sorted!

Thanks, guys @drinfernoo @SerpentDrago

[2021-04-01 15:29] SerpentDrago commented on #121
@Zaxxon709  If you could update this and your reddit post with exactly how you solved it exact which addons youre removed from your zip . so we can just reference it or others find the fix in the future .

I'm sure the wizard could add support for making a build "is this build for a fork that already has deps installed" and exclude them . but seeing as dr doens't have the time or desire to add fea

[2021-04-01 15:30] #121 closed, assigned to nobody

[2021-04-01 15:42] Zaxxon709 commented on #121
Solution:
Remove the following OpenWizard dependencies from your build.zip. You'll find them in the 'addons' directory. Re-zip and install via OpenWizard that should be included in your fork.

Note that the above issue is only present if you've created a fork with OpenWizard included and have completed your backup using OpenWizard.

script.module.certifi
script.module.chardet
script.module.idna
sc

[2021-05-12 09:36] gtkingbuild opened #131 "[Bug] Error installing a theme"
After installing a theme, my skin Auramod is deactivated and the estuary skin is automatically put on

https://user-images.githubusercontent.com/68242121/117953054-0fc2a900-b316-11eb-91da-c8dffd736222.mp4

[2021-05-14 11:17] ghost opened #132 "[Bug]function - Kodi 17 fix Error"
**Kodi v19.1**
Function of enabling all Addons in Wizard (v2.0.7)
Kodi 17 Fix not working (error).

**Steps to reproduce the behavior:**
1. Go to '...'Program Addon - > plugin.program.openwizard
2. Click on "Maintenance"
3. Click on "Misc Maintenance"
4. Scroll down to 'Kodi 17 Fix" Function
5. See error in Wizard

**Platform**
Windows 10 and Android 8 and above.

[2021-05-14 12:38] drinfernoo commented on #132
Please attach a log file.

[2021-05-15 20:13] ghost commented on #132
[kodi.log](https://github.com/a4k-openproject/plugin.program.openwizard/files/6488139/kodi.log)

[2021-05-16 02:04] drinfernoo commented on #132
The "Kodi 17 Fix" is not compatible with Matrix at this time. If you have a need to enable all add-ons, there is an option inside `Maintenance -> Addon Tools`.

[2021-05-16 08:09] ghost commented on #132
OK Thanks.

[2021-05-16 12:50] #132 closed, assigned to nobody

[2021-05-24 03:46] ghost opened #133 "[Bug]"
**Describe the bug**
I cant update my wizard, i have uploaded a new wizard version, made sure to update version number in addon.xml aswell.
I have uploaded my newset wizard to dropbox and changed the version number on there aswell but when im trying to install new wizard as a test run im getting errors:

EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following err

[2021-05-24 03:51] drinfernoo commented on #133
Have you edited that code? The stock wizard should not have an error in that spot.

[2021-05-24 03:57] ghost commented on #133
Not that im aware of, i couldnt understand the error to be honest, i
compared my default.py to the stock one and it doesnt look any different,
im using a builds file which is in standard .txt format on dropbox, should
it be in a different format and does it have to be strictly named
"builds.txt" because mine is named autobuilds.txt

On Mon, 24 May 2021, 04:51 drinfernoo, ***@***.***> wrote:

[2021-05-24 03:58] ghost commented on #133
Ill try replacing and re-editing the necessary files with ones from the stock wizard

[2021-05-24 04:50] ghost commented on #133
I just started on a new one to eliminate all of my errors, i had this wizard going since march and its my first matrix one so i definately messed up somewhere, i appreciate your quick replies and efforts in making the addon to begin with, many thanks

[2021-06-10 20:57] pauly001 commented on #133
I have the exact same issue with mine as well. Same error in resources/libs/update.py on line 46. My Kodi 18 version works perfectly fine when using my builds.txt file to auto-update. I do not have a repository so I rely on the built-in updater. My wizard is at http://crabbytech.com/test/plugin.program.kodikreationswizard.zip. The builds.txt file is in the same directory. Any help will be much app

[2021-06-11 12:57] drinfernoo commented on #133
You both need to update your code to whatever is on the latest `matrix` branch. This issue was fixed back in March.

[2021-06-11 12:57] #133 closed, assigned to nobody

[2021-06-11 13:10] drinfernoo commented on #131
This is not the behavior that I have. I've used the stock wizard with your builds file, and can install your build, along with a theme. After closing Kodi as prompted at the end of the install, your skin is applied when Kodi starts back up.

You have to reboot Kodi after you install a build or theme.

[2021-06-11 13:10] #131 closed, assigned to nobody

[2021-06-16 20:12] Reichi00 opened #137 "Backup Library[Feature Request]"
When I have set up the wizard and want to install a build, I only have the option to install the build.  Is there still the possibility of an update option?  Or can you add the option that I save the library folder at userdata before I reinstall my build?

[2021-07-28 16:52] tstrul1 commented on #55
Well,
addons and addon devs are not always that stable. addons are bing deprecated and addon devs quit (especially if you use kodi for years.)
If addon is deprecated and i want to remove it, i dont always remember if i use anything else from its repo.

So to answer your question, no one is installing repositories he doesnt need.

But thank you for your kind advise

[2021-07-28 17:10] JayDee696969 commented on #55
Its easy to tell if you use a repo, simply click Install from Repo, open a repo and check if any addons in that repo say Installed on it. I am against this option because I use a build that doesnt have everything installed unless you decide you want it installed, and would NOT want the wizard to delete the repo just because I might not be currently  using an addon from that repo.

[2021-09-05 12:36] Tonkapug opened #140 "Autosave of Trakt Data Produces an Error[Bug]"
**Describe the bug**
Autosave of Trakt data produces an error shortly after Kodi starts and the data is not saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Kodi
2. Wait for autosave to run and error is produced

**Expected behavior**
Trakt date to autosave

**Screenshots**
No screenshots

**Platform**
Windows 10 / Kodi 19.1

**Additional context**
I have edited the traktit.py to